.collapse{
	display : none;
}
.navigationTable tbody{
	position : absolute;
}
/* #navigation a.active {
	color: green;
} */
#navigationArrow
{
	padding-left:1px;
	z-index: 2;
	position: relative;
}
/* #navigation {
	overflow: auto;
	background: white;
	z-index: 2000;
	height: 700px;
} */
.navigationTable{
	z-index: 2000;
	position: fixed;
}
div.footer
{
	background-image: url('../images/footer.png');
}

.menuItems a.active img{
	/* box-shadow: 0.5px 0.5px 0.5px 0.5px black; */
	box-shadow: 0.3px 0.3px 0.3px 0.3px black;
	/* border-left: 1px solid rgb(160, 141, 141); */
	/* border-right: 1px solid rgb(160, 141, 141); */
	border-radius: 11px;
}
div.menuItems {
width: auto;
}

 #result_content
{
	overflow:visible;
}
.spinner {
  background: url('../images/ajax-loader.gif') no-repeat;
 width: 32px;
	height: 32px;
  margin: 0 auto;
}
.errorTitle {
	font-size: 25px;
}
.errorMessage {
	font-size: 15px;
}
#result_content
{
	overflow:visible;
}

div.contentTitleCollapse
{
	margin-left: 258px;
	width:684px;
	overflow: hidden;
	height: 30px;
	border-radius: 15px;
	background: rgba(240,240,240,1);
	border: 1px solid #bbbbbb;
}

td.contentFirstRowCollapsed
{
	display: table-row;
}

div.contentLeftCollapsed
{
	margin: 5px 5px 5px 5px;
	margin-left:270px;
	float: left;
	width: 200px;
	height: auto;
	position: relative;	
}

div.sideContentCollapsed
{
	z-index:0;
	float: right;
	width: 270px;
	height: auto;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	position: relative;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 9px;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));	
}

div.resultContentCollapsed
{
	float: right;
	width:700px;
	margin: auto;
	overflow: auto;	
	margin-right:-11px;
}

td.expanded
{
	width: 255px;
}

div.resultContentTitleCollapsed
{	
	margin: auto;
	overflow: hidden;
	height: 30px;
	border-radius: 15px;
	background: rgba(240,240,240,1);
	border: 1px solid #bbbbbb;
	margin-left: 258px;
	margin-bottom: 10px;
	width: 700px;
}

#navigationArrow
{
	top:17px;
}

div.preview
{
	height: auto;
	width: auto;
	margin: 3px 12px 7px 12px;
	border: 0px solid #dddddd;
}
div.starRate
{
	margin: 22px 45px 4px 80px;
}
div.title{
	font-size: 14px;
	text-overflow: ellipsis;
	padding-right: 19px;
	white-space: nowrap;
	overflow: hidden;
}
.hideReport{
	display: none !important;
}
.application-loading-pane{
	display: inline-block;
	position: fixed;
	left: 48vw;
	top: 48vh;
}
.loading-pane {
	display: inline-block;
	position: fixed;
	left: 55vw;
	top: 49vh;
	z-index:1000;
}

table.homePageContentCollapsed
{
	float: right;
	width:73%;
}

table.homePageContentCollapsed div
{
	width: auto;
}

table.homePageContentCollapsed td
{
	width: 30%;
}

/* .fileIcon {
	left: -14px;
	height: 128px;
	width: 128px;
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: -24px;
	float: right;
	cursor: pointer;
	background-image: url('../images/document.png');
} */

.xlsx {
	background-image: url('../images/icons/xlsx.png');
}

.doc {
	background-image: url('../images/icons/doc.png');
}

.pdf {
	background-image: url('../images/icons/pdf.png');
}

.xls {
	background-image: url('../images/icons/xls.png');
}

.zip {
	background-image: url('../images/icons/zip.png');
}

.txt {
	background-image: url('../images/icons/txt.png');
}

.png {
	background-image: url('../images/icons/png_file.png');
}
.db {
	background-image: url('../images/icons/db.png');
}
.lnk {
	background-image: url('../images/icons/lnk.png');
}
.docx {
	background-image: url('../images/icons/docx.png');
}
.ppt {
	background-image: url('../images/icons/ppt.png');
}
.pptx {
	background-image: url('../images/icons/pptx.png');
}
.doc {
	background-image: url('../images/icons/doc.png');
}

.tileContainer {
    display: block;
    font-family: century gothic,arial;
    font-size: 20px;
    margin: 20px 0;
    text-align: center;
    width: 100%;
}


.tileElement {
    background-color: rgb(247, 247, 247);
    border: 1px solid black;
    border-radius: 11px;
    display: inline-block;
    height: 87px;
    margin: 0 20px;
    padding: 8px 0;
    vertical-align: top;
    width: 120px;
    word-wrap: break-word;
}

.barChart
{
	width: 49%;
	height: 350px;
	/* border: 1px solid black; */
	margin-top:10px;
}

#fileLocationBar, #sizeLocationBar, #fileAccessedMonthBar,#topDashboard
{
	float: left;
}

#fileLastAccessedBar
{
	float: right;	
}

#fileOwnerPie, #filesCountSystemPie, #filesCountSubjectAreaPie, #filesNUsageCountPie
{
	float: left;
	/* margin-top:35px; */
}

#sizeOwnersPie, #filesUsageSystemPie, #fileUsageSubjectAreaPie{
	float: right;
	/* margin-top:35px; */
}


.jqplot-highlighter-tooltip
{
	text-align:center;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	background-color: white;
	padding: 0 5px 0px 5px;
	z-index: 1000;
	border: 1px solid black;
}

.jqplot-yaxis .jqplot-yaxis-tick
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transform: rotate(-30deg); 
	width:25px;
}

.container {
	/* position: absolute;
	left: 20%;
	top: 23%; */
}
.tileData {
	display: block;
	text-align: center;
}
.tileTitle {
	display: block;
	text-align: center;
	font-size: 15px;
	
}

.dropdown{
	display: inline-block;
}

.btn-primary {
	background-color : #778877;;
}
.btn-primary:hover {
	border-color: #96A6B4;
	background-color: #496949;
}
.dropdown-menu>li>a:hover {
	background-color : #778877;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.wrapperSearch {
	 margin: auto;
    width: 960px;
}

li.dropdown-submenu, li.leaf {
	font-size: 14px;
}
.chartContainer {
	border-top: 2px solid #cccccc;
	overflow: auto;
	position: relative;
	overflow-x: hidden;
}
.menuContent a {
	outline: none;
}

.contentDetails table
{
	border-spacing: 4px;
	border-collapse: separate;
	table-layout: fixed;
    /*word-break: break-all;*/
   	word-wrap: break-word;
}

.contentDetails table td
{
	/*width:35%;*/
	width:49%;
	vertical-align:top;
}

table.contentDetailsLeft
{
	/* float: left;
	width: 50%;
	display: inline-block; */
	margin-bottom: 25px;
}


#reportFooter
{
	display:inline-block;
	width:100%;
	margin-top: 30px;
	padding-top: 2px;
	background-color: rgb(241, 241, 241);
	margin-bottom: 10px;
	padding-left: 5px;
}

div.preview
{
	height: 75px;
	width:180px;
}

div.contentTitleRight
{
	cursor: pointer;
}

div.content
{
	overflow-x:hidden;
}

.selectpicker{
	position: relative;
	left: 5%;
	height: 30px;
	width: 190px;
	padding-left: 5px;
	border: 0px;
	margin-top: 10px;
}
.fileIcon:before {
	font-size: 52px;
	/* color: #666; */
	margin-left: 0;
	/* content: url('../images/document.png'); */
}
.fileIcon{
	/* float: right;
	top: -26px; */
	/* position: relative; */
	/* top: 167px; */
	
}
.starRate{
	display: none;
}
div.contentAnchor a{
	text-decoration : none;
	color: #666;
}
div.contentAnchor a:hover{
	text-decoration : none;
}

#reportDescription{
	display: inline-block;
	margin-top: 40px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 25px;
}

.bookmarkContainers{
	position: absolute;	
	top: 25px;
	right: 50px;
	font-size: 20px;
}
#fileLocationBackButton, #fileLastAccessedBackButton, #sizeLocationBackButton, #fileUsageSubjectBack, #fileNumberSubjectBack, #fileNFileUsageBack
{
	text-decoration: underline;
	cursor: pointer;
	display: none;	
	position: absolute;
	z-index:10000;
}

#fileLocationBackButton, #sizeLocationBackButton, #fileNumberSubjectBack, #fileNFileUsageBack
{
	left:30px;	
}

#fileLastAccessedBackButton, #fileUsageSubjectBack
{
	margin-left: 10px;
	z-index: 10000;
}

#fileLocationDrillDownBar
{
	float: left;
	display: none;
}

#fileLastAccessedDrillDownBar
{
	float: right;
	display:none;	
}

#sizeLocationDrillDownBar
{
	float: left;
	display:none;
}
.tagcloudContainer {
	clear : both;
	box-sizing: border-box;
}

#fileLocationBar, #fileLastAccessedBar, #fileOwnerPie, #sizeOwnersPie, #sizeLocationBar, #fileAccessedMonthBar,#topDashboard,#filesCountSubjectAreaPie,#filesNUsageCountPie,
#fileLocationDrillDownBar, #sizeLocationDrillDownBar, #fileLastAccessedDrillDownBar, #fileUsageSystemPie, #filesCountSystemPie, #filesUsageSystemPie, #fileUsageSubjectAreaPie
{
	//height:180px;
	width: 100%;
	-webkit-box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
-moz-box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
}

#fileAccessedMonthBar{
	//height: 320px;
}
.selector
{
	clear:left;
	position:relative;
	left:10%;
	margin-top:0px;	
	margin-bottom: 15px;
}

.tagCloud
{
	margin-right:23px;
}


div.contentTitle
{
	//background-color: #F2F2F2;
	color: #3D8EB9;
	border: 0px;
	border-radius: 0px;
	width: auto;
	height: 45px;
	/* padding: 10px 0px; */
}

div.contentTitle:hover {
	border: 0px;
	box-shadow: none;
}

div.reportContent
{
	position: relative;
	background-color: white;
	border: 3px solid #F7F7F7;
	padding: 25px;
}

#reportTitle
{
	font-size: 16px;
	font-weight: bold;
	position: relative;
	
}

div.contentLeft
{
	background-color: #FAFAFA;
	padding: 50px;
	padding-bottom: 240px;
	width: 100%;
}
.list-group-item {
	width: 33%;
	display: inline-block;
	min-width: 400px;
}
.bookmark_icon,.unbookmark_icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	//line-height: 1;
	-moz-osx-font-smoothing: grayscale;

}
.bookmark_icon:before {
	content: "\e044";
	//color: #ffc000;
	color:#0ab596;
}

.unbookmark_icon:before {
	content: "\e044";
	color: #999;
}
.bookmark-report{
	top: -17px;
	left: 35px;
}
.bookmark-report .bookmarkContainer{
	font-size: 20px;
	cursor: pointer;
}

.size-class{
	margin: 5px 0px;
}
.resultContentTitle {
	//background-color: #F2F2F2 !important;
	margin-bottom: 10px !important;
}

.selectpicker{
	position: relative;
	left: 5%;
	height: 30px;
	width: 190px;
	padding-left: 5px;
	border: 0px;
}
.searchPageResult {
	//width : 50% !important;
}
.parent_system_dropDown a.active {
	color: white !important;
}

.navigation-arrow {
	font-size: 15px;
}

#userNameNavigation
{
	position: relative;
	width: auto;	
}
.yAxis > .tickLabel 
{
    margin-top:10px;
    -moz-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	cursor: pointer;
	z-index: 1000;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
}

#fileNSizeTitle,#topDashboardTitle, #fileLastAccessedTitle, #fileNSizeResultTitle, #fileNSizeNavigationTitle, #fileCountNSystemTitle, #fileUsageNSystemTitle, #fileAccessedMonthTitle
{
	//height:40px;
	width:100%;
	background-color: #c8cac9;
	text-align: left;
	padding:5px 0px;
	font-weight: 500;
	padding-left: 20px;
	color:#FFF;
	border-top-left-radius: 3px;
border-top-right-radius: 3px;
	-webkit-box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
-moz-box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
box-shadow: -2px 2px 2px 0px rgba(163,163,163,1);
}

#fileLocationNavigationSearch, #fileLocationSearch
{
	height:350px;
}
.pieChartContainer{
	height :390px;
}

#sizeOwnersPie, #fileOwnerPie, #fileOwnerSearch, #fileOwnerNavigationSearch, #fileUsageSystemPie, #filesCountSystemPie, #filesUsageSystemPie, #fileUsageSubjectAreaPie
,#filesCountSubjectAreaPie, #filesNUsageCountPie
{
	height: 180px;
//	padding: 25px !important;
}


.pieChartTitle {
	height:25px;
	width:100%;
	background-color: #FDFDFD;
	text-align: center;
	padding-top:5px;
	font-weight: bold;
}

.fileOwnerNavigationSearch, .fileOwnerSearch
{
	height: 512px;
}

.fileOwnerNavigationSearch .legend, .fileOwnerSearch .legend
{
	position: absolute;
	top: 274px;
	right: 40%;
}

.flot-x-axis > .flot-tick-label{
	transform: rotate(-30deg);
	-moz-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
	padding-top: 10px;	
	white-space:nowrap;
	text-overflow: ellipsis;
}

 #usageLineChartContent{
 	height: 350px;
 	width: 100%;
 }

 .login{
 //	background-color: #ffffff;
    border: 0 none;
    margin: auto;
    width: auto;
 }
 
 #fileUsageSubjectAreaPie, #filesCountSubjectAreaPie, #filesNUsageCountPie{
   background-color: white;
 }
 
 .technicalSpec{
	float: right;	
	font-size: 15px;
	padding-right: 55px;
	cursor: pointer;
 }
 
 .departmentNavigation{
 	cursor: pointer;
 }
 .subjectArea2Navigation{
    cursor: pointer;
 }