body
{
	/* margin: 0px 0px 0px 0px;
	margin-height: 0px;
	margin-width: 0px;
	background-color: white;
	font-family: century gothic, arial;
	font-size: 12px;
	color: #333333; */
	/* overflow: hidden; */
}
p
{
	/* font-family: century gothic, arial;
	font-size: 12px;
	color: #333333; */
}
li
{
	/* font-family: century gothic, arial;
	font-size: 12px;
	color: #333333; */
}
ul
{
	/* font-family: century gothic, arial;
	font-size: 12px;
	color: #333333; */
}
div.top
{
    background-color: #ffffff;
    border: 0 none;
    margin: auto;
    /* padding-right: 35px; */
    padding-top: 6px;
    text-align: right;
    width: 960px;
}
div.menutop
{
	margin: auto;
	width: 400px;
	height: 10px;
	border-radius: 50% / 100%; 
	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 0px;
	/* background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(240,240,240,1)); */
	border: 0px;
}
div.menubottom
{
	margin: auto;
	width: 400px;
	height: 10px;
	border-radius: 50% / 100%; 
	border-top-right-radius: 0px; 
	border-top-left-radius: 0px;
	/* background: linear-gradient(to bottom, rgba(240,240,240,1), rgba(255,255,255,0)); */
	border: 0px;
}
div.menu
{
	width: 100%;
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
}
div.menuContent
{
	margin: auto;
	width: 960px;
	height: 79px;
	background-color: #ffffff;
	border: 0px;
}
div.logo
{
	float: left;
}
div.logo img
{
	margin-top: 7px;
}
div.menuItems
{
	margin: auto;
	width: 570px;
	white-space: no-wrap;
	text-align: right;
}
div.menuItems Img
{
	/* margin-top: -1px; */
}
div.search
{
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    height: 34px;
    line-height: 31px;
    margin: auto;
    vertical-align: top;
    width: 851px;
    display: inline-block;
}
div.search:hover
{
	border: 1px solid rgba(255,192,0,1);
	box-shadow: 0px 0px 5px rgba(255,192,0,1); 
}
input.searchInput
{
    border: 0 none;
    color: #444444;
    /* font-family: century gothic,arial; */
    font-size: 14px;
    height: 21px;
    margin-top: 5px;
    vertical-align: top;
    width: 756px;
    line-height: 0px;
}
img.searchImage
{
	border: 0px;
	/* margin-top: 7px; */
}
font.searchText
{
  	display: inline-block;
    margin-left: 10px;
}
div.contentTitleAbove
{
	margin: auto;
	width: 300px;
	height: 5px;
	border: 0px;
}
div.contentTitleBelow
{
	margin: auto;
	width: 300px;
	height: 1px;
	border: 0px;
}
div.contentTitleLeft
{
	float: left;
	padding-left: 10px;
	padding-top: 20px;
}
div.contentTitleRight
{
	float: right;
	padding-right: 10px;
	padding-top: 6px;
}
div.contentTitleRight select
{
	width: 250px;
	border: 1px solid #d6d6d6;
	background: rgba(240,240,240,1);
	height: 20px;
	/* font-family: century gothic, arial; */
	font-size: 11px;
}
div.content
{
	margin: auto;
	width: 960px;
	overflow: auto;	
}
div.contentTitle
{
	margin: auto;
	width: 960px;
	overflow: hidden;
	height: 34px;
	border-radius: 5px;
	//background: rgba(240,240,240,1);
	border: 1px solid #bbbbbb;
}
div.contentTitle:hover
{
	border: 1px solid rgba(255,192,0,1);
	box-shadow: 0px 0px 5px rgba(255,192,0,1); 
}
div.results
{
    z-index:0;
	float: left;
	width: 220px;
	height: 220px;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	position: relative;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));
}
div.results:hover
{
	border: 1px solid white;
	overflow: visible;
	z-index: 100;
}
div.results:hover .resultsInner
{
	display: block;
}
div.results:hover .results2
{
	z-index: 100;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));
	border: 1px solid rgba(255,192,0,1);
	box-shadow: 0px 0px 10px rgba(255,192,0,1); 
}
div.results2
{
	border: 1px solid white;
	width: 220px;
	padding: 10px 10px 10px 10px;	
	position: absolute;
	border-radius: 9px;
}
div.resultsInner
{
	margin: 10px 0px 0px 0px;
	width: 180px;
	display: block;
}
div.footer
{
	margin: auto;
	width: 960px;
	height: 30px;
}
div.preview
{
	height: 80px;
	width: 175px;
	margin: 10px 12px 10px 12px;
	border: 1px solid #dddddd;
	horizontal-align: center;
}
div.starRate
{
	height: 20px;
	width: 110px;
	margin: 5px 45px 10px 45px;
	border: 0px solid #dddddd;
	horizontal-align: center;
}
font.title
{
	font-size: 15px;
}
font.small
{
	font-size: 11px;
}
div.orangeArrow
{
	width: 0px; 
	height: 0px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid rgba(255,192,0,1);
	font-size: 0;
	line-height: 0;
	float: right;
	margin-top: 3px;
	margin-right: 3px;
}
div.sideContent
{
    z-index:0;
	float: left;
	width: 270px;
	height: auto;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	position: relative;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 9px;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));	
}
div.sideContent li:hover
{
	padding-left: 10px;
	text-decoration: underline;
	color: rgba(255,102,0,1);
	cursor: pointer;
}
div.contentLeft
{
	float: left;
	width: 200px;
	height: auto;
	position: relative;
	margin: 5px 5px 5px 5px;
}
div.contentRight
{
	float: left;
	width: 420px;
	height: auto;
	position: relative;
	margin: 0px 5px 5px 0px;
	text-align: justify;
}
div.topSideImage
{
	margin-top: 10px;
	width: 320px;
	text-align: center;
	height: 75px;
}
div.topMainImage
{
	margin-top: 10px;
	width: 320px;
	text-align: center;
	height: 150px;
}
img.Mail, img.Lightning
{
	border: 0;
	height: 75px;
}
img.Guy
{
	border: 0;
	height: 150px;
}
div.homeSideContent
{
    z-index:0;
	width: 280px;
	height: auto;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	position: relative;
	margin: 10px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 9px;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));	
}
div.homeMainContent
{
    z-index:0;
	width: 280px;
	height: auto;
	overflow: hidden;
	border: 1px solid #bbbbbb;
	position: relative;
	margin: 10px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 9px;
	background: linear-gradient(to bottom, rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(255,255,255,1),rgba(245,245,245,1));	
}

.contentPageLeft{
	padding-top: 7px !important;
}


