div.loginContent
{
	height:220px;
	width:320px;
	border: 2px solid #808183;
	border-radius: 20px;
}

div.topMainImageLogin
{
	margin-top: 10px;
	width: 250px;
	text-align: center;
	height: 230px;
}

img.guyLogin
{
	border: 0;
	height: 130px;
	float:left;
	position:relative;
	top:25px;
	left:-30px;
}

div.homeSideContentLogin
{
	margin-left:15px;
}





div.loginBottomContent
{
	margin-top:30px;
	margin-right:0px;
	font-size: 12px;
}

#loginSpan
{
	font-size: 15px;
	border-radius:15px;
	width:70px;
	margin-left:10px;
	cursor:pointer;
	height:28px;
	border: 1px solid black;
	display:inline-block;
}

#logoutSpan{
	display:inline-block;
	cursor:pointer;
}