/* #navigation
{
	width: auto;
	height: auto;
	overflow: hidden;
	border: 1px solid #666666;
	position: relative;
	margin: 0px 0px 5px 5px;
	padding: 10px 10px 10px 10px;
	border-radius: 9px;
} */
#navigationArrow
{
	margin: 20px 0px 0px -1px;
}
div.innerDiv
{
	width: auto;
	height: auto;
	background-color: #f3f3f3;
	border: 1px solid #666666;
	padding: 10px 10px 10px 10px;
	border-radius: 7px;
}
div.innerDiv td
{
	font-family: century gothic, arial;
	font-size: 12px;
	color: #333333;
}
#navigationDIV
{
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	display: none;
}
#floatingNav
{
	width: auto;
	height: auto;
	position: absolute;
	display: none;
	z-Index: 55;
}
/* #navigation UL
{
	list-style-type: none;
	padding: 0px;
	margin: 3px 0px 0px 20px;
}
#navigation LI
{
	list-style-type: none;
} */
url
{
	display: none;
}
img.url
{
	cursor: pointer;
}
UL.ULCollapse
{
	display: none;
}
#content{
	/* padding-right : 5px; */
}