<div class="app-content ng-scope" ui-view=""><!-- uiView:  --><div ui-view="" class="fade-in-down ng-scope"><div class="bg-light lter  wrapper-md ng-scope">
        <h1 class="m-n font-thin h3"><i class="glyphicon glyphicon-bookmark body-bookmark-icon i-sm m-r-sm"></i>Bookmarks</h1>
      </div>
      <div class="wrapper-md ng-scope">

<div class=" bookmarkTitle contentTitle resultContentTitle ">
    <div class="contentTitleLeft">Showing <b>{{this.length}}</b> of <b>{{totalFiles}}</b> results</div>
    <div class="contentTitleRight" {{action 'backtoHome'}}=>back to home&nbsp;&nbsp;
        <div class="orangeArrow"></div>
    </div>
</div>
        <div class="row">
          <div class="col-md-12 bookmarks-column-holder">
            <div class="list-group list-group-lg list-group-sp">
            {{#each resultrecord in model}}

              <span {{bind-attr class=":results :result_tile :clearfix :col-md-3 resultrecord.id resultrecord.bookmark.bookmarkState:showReport:hideReport"}}>
              	
                <span {{bind-attr class="resultrecord.systemIcon :pull-left :thumb-sm :avatar :m-r"}}></span>
                <span class="pull-right bookmark-report thumb-sm avatar m-r">
                  {{book-marklet record=resultrecord bookmark="bookmark" unBookmark="unBookmark"}}
                </span>
                {{#link-to 'content' resultrecord.bookmark.reportId}}
                <span class="" {{action 'gotoContentPage'}}>
                <span class="content-title tile-title" {{bind-attr title=resultrecord.reportName}}><strong>{{resultrecord.reportName}}</strong></span>
              <div>
					<div class="report-icon">
						<span {{bind-attr class=resultrecord.systemUpperCase}} data-bindattr-277="277"></span>
					</div>
				<div>
					<span>{{#if resultrecord.size}} {{resultrecord.size}} {{else}}{{/if}}</span>
					<small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.systemUpperCase}}>System  :&nbsp; {{resultrecord.systemUpperCase}}</small>
					
					<small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.owner}}>Owner  :&nbsp; {{resultrecord.owner}}</small>
					 <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.usageCount}}>3 Months Usage  :&nbsp;{{#if resultrecord.usageCount}} {{resultrecord.usageCount}} {{else}} - {{/if}}</small>
				</div>
                {{/link-to}}
                </span>
				</div>
				
              </span>

            {{/each}}

			<div id="columnchart_values" style="width: 900px; height: 300px;" ></div>
              
            </div>
            
          </div>
          
        </div>
      </div></div></div>