<div class="app-content ng-scope">
    <div {{bind-attr class="isExpanded:contentTitleCollapse:contentTitle :contentPageTitle" }} style="background-color: #F2F2F2;color: #3D8EB9;">
        <div class="contentTitleLeft contentPageLeft">{{upper-case model.data.system}} > {{model.data.subjectArea}}
        </div>
        <div {{bind-attr class=":contentTitleRight fromResultPage:expanded:collapse" }}{{action 'backtoResult' type}}=>back to results&nbsp;&nbsp;
            <div class="orangeArrow"></div>
        </div>
    </div>

    <div class="contentLeft row doc-details-holder" {{bind-attr class="isExpanded:contentLeftCollapsed:contentLeft" }}>


        <div class="reportContent col-md-7">

            <span>
               <span class="bookmarkContainers contentBookmarkIcon">{{book-marklet record=this.data bookmark="bookmark" unBookmark="unBookmark"}}</span>
            </span>
            <div>
                <span {{bind-attr class="model.data.systemIcon" }}></span>
                <span {{bind-attr class=model.data.systemUpperCase}} data-bindattr-2580="2580" data-bindattr-277="277"></span>
                <span id="reportTitle" class="doc-details-title OBIEEreportTitle">{{model.data.reportName}}</span>
                <br/>
            </div>
            <hr>
            <div class="chartWithDescription">
                <span id="reportDescription">{{#if model.data.description}}{{model.data.description}} {{else}} {{/if}}</span>
            </div>
            <div class="contentDetails">
                <div class="firstSection">
                    <table class="contentDetailsLeft">
                        <tr>
                            <td class="label-text">Owner: </td>
                            <td class="fieldValue">{{#if model.data.owner}}{{model.data.owner}} {{else}} - {{/if}}</td>
                        </tr>
                        <tr>
                            <td class="label-text">System: </td>
                            <td class="fieldValue">{{#if model.data.systemUpperCase}}{{model.data.systemUpperCase}} {{else}} - {{/if}}</td>
                        </tr>
                        <tr>
                            <td class="label-text">Repository: </td>
                            <td class="fieldValue">{{#if model.data.department}}{{model.data.department}} {{else}} - {{/if}}</td>
                        </tr>
                        <tr>
                            <td class="label-text">Application: </td>
                            <td class="fieldValue">{{#if model.data.subjectArea}}{{model.data.subjectArea}} {{else}} - {{/if}}</td>
                        </tr>

                        <tr>
                            <td class="label-text">Path: </td>
                            <td class="fieldValue">{{#if model.data.path}}{{model.data.path}} {{else}} - {{/if}}</td>
                        </tr>
                        <tr>
                            <td class="label-text">Business Model: </td>
                            <td class="fieldValue">{{#if model.data.businessModel}}{{model.data.businessModel}} {{else}} - {{/if}}</td>
                        </tr>

                        <tr>
                            <td class="label-text">Total Usage: </td>
                            <td class="fieldValue">{{#if model.data.usageCount}}{{model.data.usageCount}} {{else}} - {{/if}}</td>
                        </tr>

                        <!--<tr><td class="label-text">Presentation Column: </td><td class="fieldValue">{{#if model.data.presentationColumn}}{{model.data.presentationColumn}} {{else}} - {{/if}}</td></tr>              				               			
		 			           		-->
                    </table>
                    <span id="reportFooter" class="label-text">
								<span class="text-left modified-date">Last Modified Date: {{#if model.data.monthLastModified}}{{model.data.monthLastModified}} {{model.data.dayLastModified}}, {{model.data.yearLastModified}} {{else}} - {{/if}}</span>
                    <span class="right last-date">Last Accessed Date: {{#if model.data.monthLastAccessed}}{{model.data.monthLastAccessed}} {{model.data.dayLastAccessed}}, {{model.data.yearLastAccessed}} {{else}} -&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{/if}}</span>
                    </span>
                </div>

                <div class="panel-group techSpecPanelGroup" id="accordion">
                    <div class="panel panel-default panelRemoveShadow">
                        <a class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" {{action 'techExpandCollapse'}}>
                            <h4 class="panel-title">				            		
							         Technical Specifications
							         <span class="fa fa-fw fa-angle-right expandCollapseTechImage"></span>							        
			            			</h4>

                        </a>
                        <div id="collapseOne" class="panel-collapse collapse out">
                            <div class="panel-body technicalSpecPanel">
                                <table class="contentDetailsLeft">
                                   {{#if model.data.qlikViewFlag}}
                                    <tr>
                                        <td class="label-text">Folder: </td>
                                        <td class="fieldValue">{{#if model.data.folder}}{{model.data.folder}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Database: </td>
                                        <td class="fieldValue">{{#if model.data.database}}{{model.data.database}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Presentation Column 1: </td>
                                        <td class="fieldValue">{{#if model.data.presentationTable}}{{model.data.presentationTable}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Presentation Column 2: </td>
                                        <td class="fieldValue">{{#link-to 'sankey' '1'}}{{#if model.data.presentationColumn}}{{model.data.presentationColumn}} {{else}} - {{/if}} {{/link-to}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Presentation Column 3: </td>
                                        <td class="fieldValue">{{#if model.data.descPresentationColumn}}{{model.data.descPresentationColumn}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Presentation Column 4: </td>
                                        <td class="fieldValue">{{#if model.data.logicalTableSource}}{{model.data.logicalTableSource}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Presentation Column 5: </td>
                                        <td class="fieldValue">{{#if model.data.logicalTable}}{{model.data.logicalTable}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Logical column: </td>
                                        <td class="fieldValue">{{#if model.data.logicalColumn}}{{model.data.logicalColumn}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Schema: </td>
                                        <td class="fieldValue">{{#if model.data.physicalSchema}}{{model.data.physicalSchema}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Table: </td>
                                        <td class="fieldValue">{{#if model.data.physicalTable}}{{model.data.physicalTable}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Column: </td>
                                        <td class="fieldValue">{{#if model.data.physicalColumn}}{{model.data.physicalColumn}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Alias: </td>
                                        <td class="fieldValue">{{#if model.data.alias}}{{model.data.alias}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Formula: </td>
                                        <td class="fieldValue">{{#if model.data.formula}}{{model.data.formula}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Expression1: </td>
                                        <td class="fieldValue">{{#if model.data.expression1}}{{model.data.expression1}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Expression2: </td>
                                        <td class="fieldValue">{{#if model.data.expression2}}{{model.data.expression2}} {{else}} - {{/if}}</td>
                                    </tr>

                                    {{else}} 
                                    <tr>
                                        <td class="label-text">Folder: </td>
                                        <td class="fieldValue">{{#if model.data.folder}}{{model.data.folder}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Database: </td>
                                        <td class="fieldValue">{{#if model.data.database}}{{model.data.database}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Presentation Table: </td>
                                        <td class="fieldValue">{{#if model.data.presentationTable}}{{model.data.presentationTable}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Presentation Column: </td>
                                        <td class="fieldValue">{{#link-to 'sankey' '1'}}{{#if model.data.presentationColumn}}{{model.data.presentationColumn}} {{else}} - {{/if}} {{/link-to}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Desc Presentation Column: </td>
                                        <td class="fieldValue">{{#if model.data.descPresentationColumn}}{{model.data.descPresentationColumn}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Logical Table Source: </td>
                                        <td class="fieldValue">{{#if model.data.logicalTableSource}}{{model.data.logicalTableSource}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Logical Table: </td>
                                        <td class="fieldValue">{{#if model.data.logicalTable}}{{model.data.logicalTable}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Logical column: </td>
                                        <td class="fieldValue">{{#if model.data.logicalColumn}}{{model.data.logicalColumn}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Schema: </td>
                                        <td class="fieldValue">{{#if model.data.physicalSchema}}{{model.data.physicalSchema}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Table: </td>
                                        <td class="fieldValue">{{#if model.data.physicalTable}}{{model.data.physicalTable}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Physical Column: </td>
                                        <td class="fieldValue">{{#if model.data.physicalColumn}}{{model.data.physicalColumn}} {{else}} - {{/if}}</td>
                                    </tr>

                                    <tr>
                                        <td class="label-text">Alias: </td>
                                        <td class="fieldValue">{{#if model.data.alias}}{{model.data.alias}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Formula: </td>
                                        <td class="fieldValue">{{#if model.data.formula}}{{model.data.formula}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Expression1: </td>
                                        <td class="fieldValue">{{#if model.data.expression1}}{{model.data.expression1}} {{else}} - {{/if}}</td>
                                    </tr>
                                    <tr>
                                        <td class="label-text">Expression2: </td>
                                        <td class="fieldValue">{{#if model.data.expression2}}{{model.data.expression2}} {{else}} - {{/if}}</td>
                                    </tr>

                          {{/if}}

                                </table>

                            </div>
                        </div>

                    </div>
                </div>

            </div>



            <div style="height:4px; background-color:#FAFAFA;"></div>
            <div class="contentPageUsageChart">
                <span class="chart-title">Post</span>
                <span class="commentBox">
						<div class="actionBox">
					        <ul class="commentList">
					        
					        	{{#each comment in model.comments}}
						            <li>
						                <div class="commenterImage">
						                  
						                </div>
						                <div class="commentText">
						                    <p class="">{{comment.message}}</p> <span class="date sub-text">by <b>{{comment.userName}}</b> on {{format-date comment.timing}}</span>

            </div>
            </li>
            {{/each}}

            </ul>
            <div class="form-inline" role="form">
                <div class="form-group">

                    <form {{action "addComment" this model.data.id on="submit" }}>
                        {{name}} {{input class="form-control" type="text" placeholder="Your comments" value=commentMessage}}
                    </form>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" {{action 'addComment' this model.data.id}}>Add</button>
                </div>
            </div>
        </div>
        </span>

    </div>
</div>

<div class="col-md-5 details-page-chart">
    <div class="contentPageUsageChart">
        <span class="chart-title">Top 10 days of usage - 3 months</span> {{#if model.data.usageCount}}
        <div id="usageLineChartContent">{{flot-linechart graphSize="big" usageStatistics=model.data chartId="usageLineChartContent"}}</div>
        {{else}}
        <span class="chart-data">No Usage Data</span> {{/if}}

    </div>
    <div style="height:4px; background-color:#FAFAFA;"></div>
    <div class="similarReportsContainer">
        <span class="chart-title">Similar Reports</span> {{#if model.similarTilesResult.length}}
        <div class="">
            {{#each resultrecord in model.similarTilesResult}}

            <span {{bind-attr class=":results :searchPageResult :list-group-item :clearfix resultrecord.id :contentSimilarTiles " }}>
								<div class="report-icon">
									<span {{bind-attr class=resultrecord.systemUpperCase}} data-bindattr-277="277"></span>
        </div>
        <span {{bind-attr class=":pull-left :thumb-sm :avatar :m-r resultrecord.systemIcon " }}></span>
        <span class="pull-right bookmark-report thumb-sm avatar m-r">
	                  				{{book-marklet record=resultrecord bookmark="bookmarkNestedTile" unBookmark="unBookmarkNestedTile"}}
	                			</span> {{#link-to 'content' resultrecord.id}}
        <span class="clear" {{action 'gotoContentPageNested'}}>
						                <span class="content-title text-ellipsis" {{bind-attr title=resultrecord.reportName}}><strong>{{resultrecord.reportName}}</strong></span>
        <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.systemUpperCase}}>System  :&nbsp; {{resultrecord.systemUpperCase}}</small>

        <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.owner}}>Owner  :&nbsp; {{resultrecord.owner}}</small>
        <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.usageCount}}>3 Months Usage  :&nbsp;{{#if resultrecord.usageCount}} {{resultrecord.usageCount}} {{else}} - {{/if}}</small>
        <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.similarityPerFixed}}>Similarity: {{#if resultrecord.similarityPerFixed}} {{resultrecord.similarityPerFixed}}% {{else}} - {{/if}}</small> {{/link-to}}
        </span>
        </span>

        {{/each}}
    </div>
    {{else}}
    <div id="banner-slide" class="slider" style="">

        <!-- start Basic Jquery Slider -->
        <ul class="bjqs">
            <li>
                <a href=""><img src="slider/img/banner01.jpg" title="Automatically generated caption">
                </a>
            </li>
            <li><img src="slider/img/banner02.jpg" title="Automatically generated caption">
            </li>
            <li><img src="slider/img/banner03.jpg" title="Automatically generated caption">
            </li>
        </ul>
        <!-- end Basic jQuery Slider -->

    </div>
    {{/if}}


</div>

</div>

</div>
</div>