<table align="center" cellpadding="0" cellspacing="0" border="0" {{bind-attr class="isExpandedHome:homePageContentCollapsed"}}>
    <tr>
        <td width="320">
            <div class="topSideImage">
                <img src="images/lightning.png" class="Lightning" />
            </div>
            <div id="homeLeftContent" class="homeSideContent">
                <font class="title">What is Enquero?</font>
            </div>
        </td>
        <td width="320">
            <div class="topMainImage">
                <img src="images/guy.png" class="Guy" />
            </div>
            <div id="homeMainContent" class="homeMainContent">
                <font class="title">Who benefited from Enquero?</font>
            </div>
        </td>
        <td width="320">
            <div class="topSideImage">
                <img src="images/mail.png" class="Mail" />
            </div>
            <div id="homeRightContent" class="homeSideContent">
                <font class="title">How to reach out to Enquero?</font>
            </div>
        </td>
    </tr>
</table>