<div id="dashboard">
    <div class="app ng-scope app-header-fixed" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view="">
      <div class="app-header navbar ng-scope">      <!-- navbar header -->
      <!-- navbar header -->
      <div class="navbar-header bg-white-only ">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll="app"{{action "openNavBar"}}>
        <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt" id="main-logo" >
          <img src="images/enquero_logo.jpg" >
          
          <!--<i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>-->
        </a>
        <a href="#/" class=" hidden" id="small-logo" >
         
          <img src="images/logo_small.jpg" style="margin-top: 12px;margin-left: 6px;">
          <!--<i class="fa fa-btc"></i>
          <img src="img/logo.png" alt="." class="hide">
          <span class="hidden-folded m-l-xs">{{app.name}}</span>-->
        </a>
        <!-- / brand -->
      </div>
      <!-- / navbar header -->
      <!-- navbar collapse -->
      <div id="logo-collapse" class="collapse pos-rlt navbar-collapse box-shadow bg-green">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
          <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa fa-bars fa-fw hidden"></i>
          </a>
          <a href class="btn no-shadow navbar-btn hidden" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
          </a>
        </div>
        <!-- / buttons -->
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm hidden">
          <li class="dropdown pos-stc">
            <a href class="dropdown-toggle">
              <span>Mega</span>
              <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
              <div class="row">
                <div class="col-sm-4">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">Pages <span class="badge badge-sm bg-success">10</span></div>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Profile</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Post</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Search</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Invoice</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Price</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lock screen</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign in</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sign up</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-xs font-bold">UI Kits <span class="label label-sm bg-primary">12</span></div>
                  <div class="row">
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Buttons</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Icons <span class="badge badge-sm bg-warning">1000+</span></a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Grid</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Widgets</a>
                        </li>
                      </ul>
                    </div>
                    <div class="col-xs-6">
                      <ul class="list-unstyled l-h-2x">
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Bootstap</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sortable</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Portlet</a>
                        </li>
                        <li>
                          <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Timeline</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                  <div class="m-l-xs m-t-xs m-b-sm font-bold">Analysis</div>
                  <div class="text-center">
                    <div class="inline">
                      <div ui-jq="easyPieChart" ui-options="{
                        percent: 65,
                        lineWidth: 50,
                        trackColor: '{{app.color.light}}',
                        barColor: '{{app.color.info}}',
                        scaleColor: false,
                        size: 100,
                        rotate: 90,
                        lineCap: 'butt',
                        animate: 2000
                        }">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a href class="dropdown-toggle">
              <i class="fa fa-fw fa-plus visible-xs-inline-block"></i>
              <span translate="header.navbar.new.NEW">New</span> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" translate="header.navbar.new.PROJECT">Projects</a></li>
              <li>
                <a href>
                  <span class="badge bg-info pull-right">5</span>
                  <span translate="header.navbar.new.TASK">Task</span>
                </a>
              </li>
              <li><a href translate="header.navbar.new.USER">User</a></li>
              <li class="divider"></li>
              <li>
                <a href>
                  <span class="badge bg-danger pull-right">4</span>
                  <span translate="header.navbar.new.EMAIL">Email</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- / link and dropdown -->
      
        <!-- search form -->
        <form class="navbar-form navbar-form-sm navbar-left shift" ui-shift="prependTo" target=".navbar-collapse" role="search" ng-controller="TypeaheadDemoCtrl">
            <i class="fa fa-outdent  menu-icon click-to-collapse" {{action "menuCollapse"}}></i>
       
								
								
          <div class="form-group">
            <div class="input-group">
         
            {{view Ember.TextField value=search action="searchText" class="form-control input-sm bg-light no-border rounded padder search" placeholder="Search" }}
              
              <span class="input-group-btn" {{action "searchText"}}>
              <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </form>
        <!-- / search form -->
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right" id="userNameNavigation">
		
				<div class="login">
					{{#if session.isAuthenticated}}					
				    <span id="logoutSpan">
				    <ul class="nav nav-pills">
						  <li class="dropdown">
						    <a class="dropdown-toggle text-color"
						       data-toggle="dropdown"
						       href="#">
						        <b>Welcome&nbsp;{{session.firstName}}</b>
						        <b class="caret"></b>
						      </a>
						    <ul class="dropdown-menu userOption">
						      <li> {{#link-to "logout"}}Logout{{/link-to}} </li>
						    </ul>
						  </li>
						</ul>
				    </span>
				    
				    {{else}}
				     {{#link-to 'loginPage'}}login{{/link-to}}
				     
				     {{/if}}
				    
				</div>
		
          <li class="dropdown hidden-sm hidden" is-open="lang.isopen">
            <a href class="dropdown-toggle" data-toggle="dropdown">
              {{selectLang}} <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}}</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
          <li class="hidden-xs hide">
            <a ui-fullscreen></a>
          </li>
          <li class="dropdown hidden">
            <a href class="dropdown-toggle">
              <i class="icon-bell fa-fw"></i>
              <span class="visible-xs-inline">Notifications</span>
              <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
            </a>
            <!-- dropdown -->
            <div class="dropdown-menu w-xl animated fadeInUp">
              <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                  <strong>You have <span>2</span> notifications</strong>
                </div>
                <div class="list-group">
                  <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                    
                    </span>
                    <span class="media-body block m-b-none">
                    Use awesome animate.css<br>
                    <small class="text-muted">10 minutes ago</small>
                    </span>
                  </a>
                  <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                    1.0 initial released<br>
                    <small class="text-muted">1 hour ago</small>
                    </span>
                  </a>
                </div>
                <div class="panel-footer text-sm">
                  <a href class="pull-right"><i class="fa fa-cog"></i></a>
                  <a href="#notes" data-toggle="class:show animated fadeInRight">See all the notifications</a>
                </div>
              </div>
            </div>
            <!-- / dropdown -->
          </li>
          <li class="dropdown">
            <a href class="dropdown-toggle clear hidden" data-toggle="dropdown">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
              <img src="images/avatar-01.svg" alt="...">
              <i class="on md b-white bottom"></i>
              </span>
              <span class="hidden-sm hidden-md">John.Smith</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
              <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                  <p>300mb of 500mb used</p>
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
              </li>
              <li>
                <a href>
                  <span class="badge bg-danger pull-right">30%</span>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a ui-sref="app.page.profile">Profile</a>
              </li>
              <li>
                <a ui-sref="app.docs">
                  <span class="label bg-info pull-right">new</span>
                  Help
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ui-sref="access.signin">Logout</a>
              </li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->
      </div>
      <!-- / navbar collapse -->
    </div>
	 <div id="collapsed-menu" class=" app-aside hidden-xs bg-black canvasMenu hidden">
		<div class="aside-wrap">
			<div class="navi-wrap">
				 <nav ui-nav class="navi">
              <!-- list -->
              <ul class="nav">
               
                <li ui-sref-active="active" {{action 'menuCollapse'}}>

                  {{#link-to 'navigation.index'}}
                  <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
                    <span class="font-bold " translate="aside.nav.NOTIFICATIONS"  {{bind-attr title="Dashboard"}}></span>
					
                    {{/link-to}}
                </li>
                <li ui-sref-active="active" {{action 'menuCollapse'}}>
                  {{#link-to 'bookmarks'}}
                  <i class="bookmarkContainer bookmark_icon glyphicon glyphicon-bookmark icon text-info-dker"></i>
                    <span class="font-bold" translate="aside.nav.NOTIFICATIONS" {{action 'menuCollapse'}} {{bind-attr title="Dashboard"}}></span>
                    {{/link-to}}
                </li>
                <li ui-sref-active="active" {{action 'menuCollapse'}}>
                  {{#link-to ''}}
                  <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
                    <span class="font-bold" translate="aside.nav.NOTIFICATIONS" {{action 'menuCollapse'}}></span>
                    {{/link-to}}
                </li>
				 <li ui-sref-active="active" {{action 'menuCollapse'}}>
                  {{#link-to ''}}
                  <i class="glyphicon glyphicon-wrench icon text-info-dker"></i>
                    <span class="font-bold" translate="aside.nav.NOTIFICATIONS" {{action 'menuCollapse'}}></span>
                    {{/link-to}}
                </li>
              
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                  
                  <div class="line-gray"></div>
                </li>

                {{#each this.navigationLeftPanelData itemView="BrowseBy"}}
                <li {{bind-attr class=":parent_system_dropDown view.systemExpand:active"}}>
                  <a class="auto system_dropDown">
                    <span class="pull-right text-muted">
                    
                    </span>
                    
                    <i class="glyphicon glyphicon-th text-info-dker" {{action "menuCollapse"}}></i>
                   
                  </a>
                  <ul class="nav nav-sub dk customScrollBar">

                    <li class="nav-sub-header">
                      <a href>
                        
                      </a>
                    </li>
                    
                   
                                
                  </ul>
                </li>

                {{/each}}

              </ul>
              <!-- / list -->
            </nav>
            <!-- nav -->
			</div>
		</div>
	 </div>
    <div id="collapse-menu" class="app-aside hidden-xs bg-black canvasMenu">
      <div class="aside-wrap">
        <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
        <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
          -->
          <div class="navi-wrap">
            <!-- user -->
            <div class="clearfix hidden-xs text-center hide" id="aside-user">
              <div class="dropdown wrapper">
                <a ui-sref="app.page.profile">
                  <span class="thumb-lg w-auto-folded avatar m-t-sm">
                  
                  </span>
                </a>
                <a href class="dropdown-toggle hidden-folded">
                  <span class="clear">
                  <span class="block m-t-sm">
                  <strong class="font-bold text-lt">John.Smith</strong>
                  <b class="caret"></b>
                  </span>
                  <span class="text-muted text-xs block">Art Director</span>
                  </span>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                  <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                    <span class="arrow top hidden-folded arrow-info"></span>
                    <div>
                      <p>300mb of 500mb used</p>
                    </div>
                    <progressbar value="60" type="white" class="progress-xs m-b-none dker"></progressbar>
                  </li>
                  <li>
                    <a href>Settings</a>
                  </li>
                  <li>
                    <a ui-sref="app.page.profile">Profile</a>
                  </li>
                  <li>
                    <a href>
                      <span class="badge bg-danger pull-right">3</span>
                      Notifications
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ui-sref="access.signin">Logout</a>
                  </li>
                </ul>
                <!-- / dropdown -->
              </div>
              <div class="line dk hidden-folded"></div>
            </div>
            <!-- / user -->
            <!-- nav -->
            <nav ui-nav class="navi">
              <!-- list -->
              <ul class="nav">
               
                <li ui-sref-active="active">

                  {{#link-to 'navigation.index'}}
                  <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
                    <span class="font-bold mr-15" translate="aside.nav.NOTIFICATIONS" {{action 'blankSearchBox'}}>Dashboard</span>
                    {{/link-to}}
                </li>
                <li ui-sref-active="active">
                  {{#link-to 'bookmarks'}}
                  <i class="bookmarkContainer bookmark_icon glyphicon glyphicon-bookmark icon text-info-dker"></i>
                    <span class="font-bold mr-15" translate="aside.nav.NOTIFICATIONS" {{action 'blankSearchBox'}}>Bookmarks</span>
                    {{/link-to}}
                </li>
                 <li ui-sref-active="active">
                  {{#link-to ''}}
                    <i class="glyphicon glyphicon-stats icon text-info-dker"></i>
                    <span class="font-bold mr-15" translate="aside.nav.NOTIFICATIONS" {{action 'blankSearchBox'}}>Analytics</span>
                    {{/link-to}}
                </li>
				 <li ui-sref-active="active">
                  {{#link-to ''}}
                   <i class="glyphicon glyphicon-wrench icon text-info-dker"></i>
                    <span class="font-bold mr-15" translate="aside.nav.NOTIFICATIONS" {{action 'blankSearchBox'}}>Configure</span>
                    {{/link-to}}
                </li>
              
                <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                  <span translate="aside.nav.components.COMPONENTS">Navigate Catalog</span>
                  <div class="line-gray"></div>
                </li>

                {{#each this.navigationLeftPanelData itemView="BrowseBy"}}
                <li {{bind-attr class=":parent_system_dropDown view.systemExpand:active"}}>
                  <a class="auto system_dropDown">
                    <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    
                    <i class="glyphicon glyphicon-th text-info-dker"></i>
                    <span>{{system}}</span>
                  </a>
                  <ul class="nav nav-sub dk customScrollBar"  >

                    <li class="nav-sub-header">
                      <a href>
                        <span>{{system}}</span>
                      </a>
                    </li>
                    
                    {{#each department}}
                         <li {{bind-attr class=":dep-collapse :parent_system_dropDown view.systemExpand:active :departmentNavigation systemNDepartment "}} 
                         {{action "depExpandCollapse" systemNDepartment }}>
                            <span>{{departmentkey}}</span>  <span {{bind-attr class=":iconDepartment :fa :fa-fw :fa-angle-right systemNDepartment"}}></span>                 
                        </li>
                        
                        {{#each application}}
                            <li ui-sref-active="active" {{bind-attr class=":dep-collapse :hidden :subjectAreaNavigation systemNDepartment sysDepNApplication"}} 
                            {{action "subjectAreaExpandCollapse" sysDepNApplication }}>
                            <span>{{appkey}}</span>  
							
                            <span {{bind-attr class=":iconSubject :fa :fa-fw :fa-angle-right sysDepNApplication"}}></span> 
						
                            </li>
                             {{#each dashboard}}
                                <li ui-sref-active="active" {{bind-attr class=":hidden :dashboardAreaNavigation  systemNDepartment sysDepNApplication sysDepAppNDashboard" }}>
                                {{#link-to 'navigationResults' systm deprtmt encodedSubjArea encodedDashboard style="padding: 8px 20px;padding-left: 55px"}}
                                <span {{action 'blankSearchBox' }}>{{key}}</span>{{/link-to}}           
                                    
                                </li>
                            {{/each}} 
                                
                    	{{/each}}         	
                    {{/each}} 
                                
                  </ul>
                </li>

                {{/each}}

              </ul>
              <!-- / list -->
            </nav>
            <!-- nav -->
            <!-- aside footer -->
            <div class="wrapper m-t hidden">
              <div class="text-center-folded"> 
                <span class="pull-right pull-none-folded">60%</span>
                <span class="hidden-folded" translate="aside.MILESTONE">Milestone</span>
              </div>
              <progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>
              <div class="text-center-folded">
                <span class="pull-right pull-none-folded">35%</span>
                <span class="hidden-folded" translate="aside.RELEASE">Release</span>
              </div>
              <progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>
            </div>
            <!-- / aside footer -->
          </div>
        </div>
      </div>
      <div class="outlet" style="">
      {{outlet}}
      </div>
      
      </div>
</div>      