<div class="app-content ng-scope" ui-view=""><!-- uiView:  --><div ui-view="" class="fade-in-down ng-scope"><div class="bg-light lter  wrapper-md ng-scope">
        <h4 class="m-n font-thin h4">{{data.systemUpperCase}}&nbsp;<i class="glyphicon glyphicon-chevron-right navigation-arrow i-sm m-r-sm"></i>{{navigationQuery}}</h4>
      </div>
      <div class="wrapper-md ng-scope">

<div class="contentTitle resultContentTitle navContentTitle">    
    <div class="contentTitleRight" {{action 'backtoHome'}}=>back to home&nbsp;&nbsp;
        <div class="orangeArrow"></div>
    </div>
    
    {{#if data.pagesCount}}
    	<div class="paginationTitle">
    		<div class="showPagHeading pull-left">Showing <b>{{startRecord}}</b> to <b>{{lastRecord}}</b> of <b>{{data.totalFiles}} </b>results</div>
	    	<div class="paginationContainerNav pull-right" id="paginationContainerDiv">
	    		{{pagi-nation containerId="paginationContainerDiv" totalFiles= data.totalFiles recordsPerPage="200" type="navResultsPage" subjectArea=data.subjectArea create='fetchNextRecords' startPage=startPage}}				
	   		</div>
		</div>
		{{else}}
			<div class="showHeading">Showing <b>{{this.data.length}}</b> of <b>{{data.totalFiles}} </b>results</div>
	{{/if}}
	
	
</div>

       
        <div class="row">
               <div class="reportOutlet">{{outlet}}</div>  
        </div>
        
      </div></div></div>