<div class="contentTitle reportSortTitle">

<div {{bind-attr class =":contentTitleRight :glyphicon orderFlag:glyphicon-chevron-down:glyphicon-chevron-up :visible" }}   {{action "sortByUsage"}}></div>
</div>
       
        <div class="row">
        
        
        
        
          <div class="col-md-12 bookmarks-column-holder">
            <div class="list-group list-group-lg list-group-sp">
            {{#each resultrecord in model.data}}

              <span {{bind-attr class=":results :searchPageResult :result_tile :col-md-3 :clearfix resultrecord.id "}}>
              
                <span {{bind-attr class="resultrecord.systemIcon :pull-left :thumb-sm :avatar :m-r" }}></span>
                <span class="pull-right bookmark-report thumb-sm avatar m-r">
                  {{book-marklet record=resultrecord bookmark="bookmark" unBookmark="unBookmark"}}
                </span>
                {{#link-to 'content' resultrecord.id}}
                <span class="" {{action 'gotoContentPage'}}>
                <span class="content-title tile-title" {{bind-attr title=resultrecord.reportName}} ><strong>{{resultrecord.reportName}}</strong></span>
                <div>
					<div class="report-icon">
						<span {{bind-attr class=resultrecord.systemUpperCase}} data-bindattr-277="277"></span>
					</div>
				<div>
					<span>{{#if resultrecord.size}} {{resultrecord.size}} {{else}}{{/if}}</span>
					<small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.systemUpperCase}}>System  :&nbsp; {{resultrecord.systemUpperCase}}</small>
					
					<small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.owner}}>Owner  :&nbsp; {{resultrecord.owner}}</small>
					 <small class="text-muted clear text-ellipsis" {{bind-attr title=resultrecord.usageCount}}>3 Months Usage  :&nbsp;{{#if resultrecord.usageCount}} {{resultrecord.usageCount}} {{else}} - {{/if}}</small>
				</div>
                {{/link-to}}
                </span>
				</div>
              </span>

            {{/each}}
            </div>
          </div>
          </div>