<div class="app-content ng-scope" ui-view=""><div ui-view="" class="fade-in-down ng-scope">
						<div class="row">
					
					<div class="col-md-12">
						<div>
						<div class="col-md-3">
						</div>
						<div class="col-md-4 search-opt ">
							<div class="">
								<div class="search-category-li">
								Business Function
								</div>
								<div class="search-category-li-active " style="border-right:0px;">
									System
								</div>
								
						
						</div>
						
						</div>
						<div class="col-md-2">
							<div class="adv-search">
									Advanced Search
								</div>
						</div>
						<div class="col-md-3 filter-right-top">
							Report of :
							<select>
								<option>
									6 months
								</option>
								<option>
									1 Year
								</option>
							</select>
						</div>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-2">
						</div>
						<div class="col-md-8-5 horizontal-scroll">
							<table>
								<tr class="li-filter">
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo" name="check" />
											<label for="roundedTwo"></label>
										</div>
										<div class="search-label">
										All
										</div>
										</div>
									</td>
									
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo1" name="check" />
											<label for="roundedTwo1"></label>
										</div>
										<div class="search-label">
										OBIEE
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo2" name="check" />
											<label for="roundedTwo2"></label>
										</div>
										<div class="search-label">
										TABLEAU
										</div>
										</div>
									</td>
									
									
								</tr>
								
							</table>
							
						</div>
						<div class="col-md-12">
							 <div id="chart" style="height:250px;margin-top: 10px;"></div>
						</div>
						
					</div>
				</div>
           
      <div class="wrapper-md ng-scope">
      
      {{#if pageCount}}
      	<div class="paginationDiv" >
		   
			    <div class="paginationContainer pull-right" id="paginationContainerDiv">
			    {{pagi-nation containerId="paginationContainerDiv" totalFiles= totalFiles type=type recordsPerPage="200" subjectArea=subjectAreaData create='fetchNextRecords' startPage=startPage}}				
			    </div>
			
		</div>
		{{/if}}
		
		<div class="contentTitle resultContentTitle">
    <div class="contentTitleLeft">Showing <b>{{from}}</b> to <b>{{to}}</b> of <b>{{totalFiles}}</b> results</div>
   
    
    
</div>
	
          <div class="reportOutlet">{{outlet}}</div>
       </div>
      </div>
	  </div>