<div class="app-content ng-scope" ui-view=""><!-- uiView:  -->
<div ui-view="" class="fade-in-down ng-scope">
<div class="bg-light lter  wrapper-md ng-scope">
        <h1 class="m-n font-thin h3">
        <i class="glyphicon glyphicon-stats i-sm m-r-sm"></i>Sankey</h1>
<div class="row">
	<div id="chart"></div>
</div>
</div>

