<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Power Me</title>
    
    <link rel="stylesheet" type="text/css" href="css/navigation.css">
    <link rel="stylesheet" type="text/css" href="css/content.css" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.jqplot.min.css" />
    <!--<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" /> -->

	<link rel="stylesheet" type="text/css" href="js/lib/fonts/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="">
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="js/lib/bootstrap/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" type="text/css" href="js/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.css">
    
    <link rel="stylesheet" type="text/css" href="js/lib/pagination/css/simplePagination.css">
    	<link rel="stylesheet" href="slider/css/bjqs.css">
	   <link rel="stylesheet" href="slider/css/demo.css">
	   
    <link rel="stylesheet" type="text/css" href="css/fileIcon.css" />
        <link rel="stylesheet" type="text/css" href="css/file-formats-icons/flaticon.css" />
    <!-- <link rel="stylesheet" type="text/css" href="js/lib/bootstrap-select/bootstrap-select.css" /> -->
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <link rel="stylesheet" href="css/vendor.css" type="text/css">

    
   
</head>
<body>

<script type="text/x-handlebars" >

{{outlet}}
  </script>
<script type="text/x-handlebars" data-template-name="loading">
    <div class="application-loading-pane">
      <div class="loading-message">
        
      </div>
	<div class="spinner"></div>
    </div>
  </script>
  
  
  <script type="text/x-handlebars" data-template-name="loginPage">
        <div class="app ng-scope app-header-fixed" id="app" ng-class="{'app-header-fixed':app.settings.headerFixed, 'app-aside-fixed':app.settings.asideFixed, 'app-aside-folded':app.settings.asideFolded, 'app-aside-dock':app.settings.asideDock, 'container':app.settings.container}" ui-view=""><!-- uiView:  -->

<div ui-view="" class="fade-in-right-big smooth ng-scope">
<div class="background-image">
<div class="container-class container w-xxl w-auto-xs ng-scope login-form" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
      <a href="" class="navbar-brand block m-t ng-binding logo" style="text-align: left;padding: 0px;"><img class="logo-img" src="images/enquero_logo.jpg" style="width: 50%;"></a>
      <div class="m-b-lg">

        <form action="dashboard.html" name="form" method="post" class="form-validation ng-pristine ng-invalid ng-invalid-required">
          <div class="text-danger wrapper text-center ng-binding ng-hide" ng-show="authError">
              
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item username ">
              {{input type="email" name="username" placeholder="Enter your Email" id="loginUser" class="form-control loginInput no-border ng-pristine ng-invalid ng-invalid-required ng-valid-email" ng-model="user.email" value=username }}
            </div>
            <div class="list-group-item password ">
               {{input type="password" name="password" placeholder="Password" id="loginPass" class="form-control loginInput no-border ng-pristine ng-invalid ng-invalid-required" ng-model="user.password" value=password }}
            </div>
          </div>
          {{#if error.hasError}}
                  <div class="error-message-container medium-text">{{error.msg}}</div>
                  {{/if}}
          <button type="submit" class="btn btn-lg btn-primary btn-block" {{action 'authenticate'}}>Sign In</button>
		  
          <div class="text-center m-t m-b">{{#link-to 'forgotPassword'}}Cannot accsss your account?{{/link-to}}</div>
          
        </form>
      </div>
      
    </p></div>
    </div></div></div></div>
  </script>
	
    <script src="js/lib/jquery-1.11.1.js"></script>
    
    
    <script src="slider/js/bjqs-1.3.js"></script>
    <script src="js/lib/handlebars-1.3.0.js"></script>
    <script src="js/lib/ember-1.6.1.js"></script>
    <script src="js/lib/ember-data.js"></script>
   
      
    <script src="js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="js/lib/bootstrap-select/bootstrap-select.js"></script> -->
    <script src="js/lib/chart.js"></script>
    <script src="js/lib/jqplot/jquery.jqplot.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.barRenderer.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.highlighter.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
    <script src="js/lib/jqplot/plugins/jqplot.pointLabels.min.js"></script>   
    <script src="js/lib/jqplot/plugins/jqplot.canvasTextRenderer.min.js "></script>
    
    <script src="js/lib/flot/jquery.flot.js"></script>    
    <script src="js/lib/flot/plugins/jquery.flot.resize.js"></script>
    <script src="js/lib/flot/plugins/jquery.flot.axislabels.js"></script>
    <script src="js/lib/flot/plugins/jquery.flot.resize.js"></script>
    <script src="js/lib/flot/plugins/jquery.flot.tooltip.min.js"></script>
    <script src="js/lib/flot/plugins/jquery.flot.pie.js"></script>
    
  	<script src="js/lib/pagination/js/jquery.simplePagination.js"></script>
    
    
    <script src="js/lib/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>
    
    <script src="js/lib/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8"></script>
    
    <script src="js/app.js"></script>
    <script src="js/view/applicationView.js"></script>
    <script src="js/model/applicationModel.js"></script>
    <script src="js/utility/constant.js"></script>
    <script src="js/router.js"></script>
    
    <script src="js/controller/sessionController.js"></script>
    <script src="js/initializers/session.js"></script>
     <script src="js/route/securedRoute.js"></script>
     
    <script src="js/view/componentView.js"></script>
    
    <script src="js/helpers/formatDateHelper.js"></script>
    
    <script src="js/route/navigationResultsRoute.js"></script>
    <script src="js/model/navigationResultsModel.js"></script>
    <script src="js/controller/navigationResultsController.js"></script>
    
    <script src="js/view/resultsView.js"></script>
    <script src="js/view/newArrivalView.js"></script>
    <script src="js/view/errorPageView.js"></script>
   
    <script src="js/model/contentModel.js"></script>
    <script src="js/model/resultsModel.js"></script>
    <script src="js/route/applicationRoute.js"></script>
    <script src="js/route/resultsRoute.js"></script>
    <script src="js/route/logoutRoute.js"></script>
    <script src="js/route/resultsIndexRoute.js"></script>
   
    <script src="js/route/reportsRoute.js"></script>
    
    <script src="js/controller/resultsController.js"></script>
    
    <script src="js/controller/resultsIndexController.js"></script>
    <script src="js/controller/reportsController.js"></script>
    
   
      
       
      
       <script type="text/javascript"
           src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['sankey']}]}">
	</script>
     <script src="js/d3.v2.min.js"></script>
    <script src="js/component/googleBarChart.js"></script>
    
    <script src="js/controller/navigationController.js"></script>
    <script src="js/component/bookmarkletComponent.js"></script>
    <script src="js/component/usagechartComponent.js"></script>
    <script src="js/component/barchartComponent.js"></script>
    <script src="js/component/piechartComponent.js"></script>
    <script src="js/component/tagCloudComponent.js"></script>
    <script src="js/component/flotbarchartComponent.js"></script>
    <script src="js/component/flotlinechartComponent.js"></script>
    <script src="js/component/flotPiechartComponent.js"></script>
    <script src="js/component/paginationComponent.js"></script>
     <script src="js/component/sankeyComponent.js"></script>
    
    <script src="js/route/sankeyRoute.js"></script>
    <script src="js/view/sankeyView.js"></script>
    <script src="js/view/bookmarkletView.js"></script>
    <script src="js/view/homePageView.js"></script>
    <script src="js/model/navigationModel.js"></script>
    <script src="js/route/indexRoute.js"></script>
    <script src="js/route/navigationRoute.js"></script>
    <script src="js/route/navResultReportsRoute.js"></script>
    <script src="js/route/homePageRoute.js"></script>
    <script src="js/view/navigationView.js"></script>
    <script src="js/view/bookmarksView.js"></script>
    
    <script src="js/route/bookmarksRoute.js"></script>
    <script src="js/controller/bookmarksController.js"></script>
    <script src="js/model/bookmarksModel.js"></script>
    <script src="js/model/commentsModel.js"></script>
    <script src="js/route/contentRoute.js"></script>
    <script src="js/controller/contentController.js"></script>
    
    <script src="js/controller/navigationResultsIndexController.js"></script>
    <script src="js/controller/navResultReportsController.js"></script>    
    <script type="text/javscript" src="js/controller/googleBarChartController.js"></script>
    <script src="js/view/contentView.js"></script>
    <script src="js/view/loginPageView.js"></script>
    <script src="js/view/registerView.js"></script>
    <script src="js/view/forgotPasswordView.js"></script>
    <script src="js/controller/loginPageController.js"></script>
    <script src="js/route/loginPageRoute.js"></script>
    <script src="js/controller/homePageController.js"></script>
    <script src="js/controller/sliderController.js"></script>
    <script src="js/controller/sankeyController.js"></script>
    <script src="js/view/browseByView.js"></script>
     
     
     

    
</body>
</html>