<div class="app-content ng-scope" id="indexPageContainer">
			<div ui-butterbar="" class="butterbar hide"><span class="bar"></span></div>
			<a href="" class="off-screen-toggle hide" ui-toggle-class="off-screen" data-target=".app-aside"></a>
			<!-- uiView:  --><div class="app-content-body fade-in-up ng-scope" ui-view=""><div class="hbox hbox-auto-xs hbox-auto-sm ng-scope" ng-init="
			app.settings.asideFolded = false;
			app.settings.asideDock = false;
			">
			<!-- main -->
			<div class="col">
			  <!-- main header -->
			  <div class="bg-light lter b-b wrapper-md hidden">
				<div class="row">
				  <div class="col-sm-6 col-xs-12">
					
					<h1 class="m-n font-thin h3"><i class="glyphicon glyphicon-stats body-bookmark-icon i-sm m-r-sm"></i>Dashboard</h1>
					
					<small class="text-muted hidden">Welcome to angulr application</small>
				  </div>
				  <div class="col-sm-6 text-right hidden-xs hidden">
					<div class="inline m-r text-left">
					  <div class="m-b-xs">1290 <span class="text-muted">items</span></div>
					  <div ng-init="data1=[ 106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98 ]" ui-jq="sparkline" ui-options="[106,108,110,105,110,109,105,104,107,109,105,100,105,102,101,99,98], {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" class="sparkline inline"><canvas width="202" height="40" style="display: inline-block; width: 101px; height: 20px; vertical-align: top;"></canvas></div>
					</div>
					<div class="inline text-left">
					  <div class="m-b-xs">$30,000 <span class="text-muted">revenue</span></div>
					  <div ng-init="data2=[ 105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109 ]" ui-jq="sparkline" ui-options="[105,102,106,107,105,104,101,99,98,109,105,100,108,110,105,110,109], {type:'bar', height:20, barWidth:5, barSpacing:1, barColor:'#dce5ec'}" class="sparkline inline"><canvas width="202" height="40" style="display: inline-block; width: 101px; height: 20px; vertical-align: top;"></canvas></div>
					</div>
				  </div>
				</div>
			  </div>
			  <!-- / main header -->
			   <div class=" ng-scope padding-10" ng-controller="FlotChartDemoCtrl">
				<!-- stats -->
				<div class="row row-bg shadow-box">
				<!-- dashboard top options-->
				<div class="row">
					
					<div class="col-md-12">
						<div>
						<div class="col-md-4">
						</div>
						<div class="col-md-3 search-opt-dashboard ">
							<div class="">
								<div class="search-category-li business" id="bus-butn" {{action "categoryClickBusi"}}>
								Business Function
								</div>
								<div class="search-category-li-active system" id="sys-butn" style="border-right:0px;" {{action "categoryClickSystem"}}>
									System
								</div>
								
						
						</div>
						
						</div>
						<div class="col-md-2">
							<div class="adv-search">
									<a {{action 'advance_search'}}>Advanced Search</a>
								</div>
						</div>
						<div class="col-md-3 filter-right-top">
							Report of :
							<select>
								<option>
									3 months
								</option>
								<option>
									6 Year
								</option>
							</select>
						</div>
					</div>
				</div>
				</div>
				<div class="row padding-t-0">
					<div class="col-md-12">
						<div class="col-md-2">
						</div>
						<div class="col-md-8 horizontal-scroll">
							<table id="system">
								<tr class="li-filter">
									<td class="scroll-list" >
										<div >
										
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="sys-all" name="check" {{action 'changeDashboardMap' 'all'}}/>
											<input type="hidden" id="hidden-sys-all" value="1" >
											<label for="sys-all" id="label-sys-all" class="opacity1"></label>
										</div>
										<div class="search-label">
										All
										</div>
										</div>
									</td>
									
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="sys-obiee" name="check" {{action 'changeDashboardMap' 'OBIEE'}}/>
											<input type="hidden" id="hidden-sys-obiee" value="0">
											<label for="sys-obiee" id="label-sys-OBIEE"></label>
										</div>
										<div class="search-label">
										OBIEE
										</div>
										</div>
										
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="sys-tableau" name="check" {{action 'changeDashboardMap' 'TABLEAU'}}/>
											<label for="sys-tableau" id="label-sys-TABLEAU"></label>
											<input type="hidden" id="hidden-sys-tableau" value="0">
										</div>
										<div class="search-label">
										TABLEAU
										</div>
										</div>
									</td>
							</table>
							<table id="business" class="hidden">
								<tr class="li-filter">
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo" name="check" />
											<label for="roundedTwo"></label>
										</div>
										<div class="search-label">
										All
										</div>
										</div>
									</td>
									
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo1" name="check" />
											<label for="roundedTwo1"></label>
										</div>
										<div class="search-label">
										VM Dash 
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo22" name="check" />
											<label for="roundedTwo22"></label>
										</div>
										<div class="search-label">
										BU Flash
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo3" name="check" />
											<label for="roundedTwo3"></label>
										</div>
										<div class="search-label">
										Bookings 
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo4" name="check" />
											<label for="roundedTwo4"></label>
										</div>
										<div class="search-label">
										Compass 
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo5" name="check" />
											<label for="roundedTwo5"></label>
										</div>
										<div class="search-label">
										Entitlement BI
										</div>
										</div>
									</td>
									<td class="scroll-list">
										<div>
										<div class="roundedTwo">
											<input type="checkbox" value="None" id="roundedTwo6" name="check" />
											<label for="roundedTwo6"></label>
										</div>
										<div class="search-label">
										IT
										</div>
										</div>
									</td>
									
								</tr>
								
							</table>
						</div>
						<div class="col-md-2">
						
						</div>
						
					</div>
				</div>
				<div class="row padding-t-0">
				<div class="col-md-12">
				
				<div class="col-md-6 ">
				<div>
					<div class="row barchart">
					<div class="">
					<div id="topDashboardTitle" ></div>
						<div class="panel wrapper border-0" id="topDashboard" style="padding:3px!important;">
							{{flot-barchart chartId="topDashboard" chartDataArray=this.barTop5ReportsData.chartDataArray chartTicksArray=this.barTop5ReportsData.chartTicksArray customTicks=this.barTop5ReportsData.customTicks chartXLabel="Report Name" chartYLabel="Usage Count"  chartTitle="Top 10 Reports by Usage"  chartTitleId="topDashboardTitle" }}
						</div>
					</div>
					
					</div>
				</div>
				</div>
				<div class="col-md-6">
							<div class="row barchart">
					<div class=" ">
					<div id="fileAccessedMonthTitle" ></div>
						<div class="panel wrapper border-0" id="fileAccessedMonthBar" style="padding:3px!important;">
							{{flot-barchart chartId="fileAccessedMonthBar" chartDataArray=this.barFilesAccseedVsMonthData.chartDataArray chartTicksArray=this.barFilesAccseedVsMonthData.chartTicksArray  chartXLabel="Month" chartYLabel="Usage Count" chartTitle="Reports Accessed by Month" chartTitleId="fileAccessedMonthTitle" }}
						</div>
					</div>
				  </div>
						</div>
				
				</div>
				
				  
				  
				</div>
				
				<div class="row padding-t-0">
					
					<div class="col-md-12">
						<div class="col-md-6">
					<div class="row padding-t-0">
					
					<div class=" flotPieChartsRight">
					<div id="fileUsageNSystemTitle"></div>
				  <span id="fileUsageSubjectBack" {{action 'showFileUsageVsSystemPie'}}>Back</span>
				  <div>
					<div class="panel wrapper border-0" id="filesUsageSystemPie">
	{{flot-piechart  chartId="filesUsageSystemPie" chartData=this.pieFileTop5UsersData.fileUsageNSystem chartTitle="Top Users" chartTitleId="fileUsageNSystemTitle"}}                
					  </div>
					  <div class="panel-wrapper" id="fileUsageSubjectAreaPie"></div>
					 </div> 
					</div>
				  </div>
				  
				  </div>
						<div class="col-md-6 mr-0" >
						<div class="row padding-t-0">
						<div class="shadow-box height">
					
						<div id="fileCountNSystemTitle">Foot Print</div>
							 {{#each this.tilesData}}
				 
					<div class="row row-sm text-center" style="padding-bottom: 0px;">
					
					  <div class="col-md-6">
						
						<div class="tile-min-height shadow-box padder-v item tile-bg">
						  <div class="font-thin h1-26">{{systems.value}}</div>
						  <span class=" text-xs">Systems</span>
						  <div class="top text-right w-full hidden">
							<i class="fa fa-caret-down text-warning m-r-sm"></i>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6">
						<div class="tile-min-height block shadow-box padder-v tile-bg item">
						  <span class="text-white font-thin h1-26 block">{{subjectArea.value}}</span>
						  <span class="text-xs">Applications</span>
						  <span class="bottom text-right w-full">
						  <i class="fa fa-cloud-upload text-muted m-r-sm hidden"></i>
						  </span>
						</div>
					  </div>
					  <div class="col-md-6">
						<div class="tile-min-height block shadow-box padder-v tile-bg item">
						  <span class="text-white font-thin h1-26 block">{{dashboard.value}}</span>
						  <span class="text-xs">Dashboards</span>
						  <span class="top text-left">
						  <i class="fa fa-caret-up text-warning m-l-sm hidden"></i>
						  </span>
						</div>
					  </div>
					  <div class="col-md-6">
						<div class="tile-min-height shadow-box padder-v item tile-bg">
						  <div class="font-thin h1-26">{{totalNoOfFiles.value}}</div>
						  <span class=" text-xs">Reports</span>
						  <div class="bottom text-left">
							<i class="fa fa-caret-up text-warning m-l-sm hidden"></i>
						  </div>
						</div>
					  </div>
					
					</div>
					   
							
				  
			{{/each}}
						</div>
						
						</div>
						</div>
					</div>
				</div>
			
				 
			
				
				<!-- stats -->
			   
				<div class="row chart-horizontal-bar hidden">            
				  <div class="col-md-6 flotBarChartsLeft" style="width:50%">
				  <div id="fileNSizeTitle"></div>
				   {{#if flag}}
					<span id="fileLocationBackButton" {{action 'showfileLocationBar'}}>Back</span>
					<div class="panel wrapper" id="fileLocationBar">{{flot-barchart chartId="fileLocationBar" chartDataArray=this.chartFlotFilesnLocation.chartDataArray chartTicksArray=this.chartFlotFilesnLocation.chartTicksArray chartXLabel="No. of Files (in thousands)" chartYLabel="Location" chartTitle="No. of Files Vs. Location (top 10)" chartTitleId="fileNSizeTitle"}}</div>
					  <div class="panel wrapper" id="fileLocationDrillDownBar"></div>
					  {{else}}  
			  <span id="sizeLocationBackButton" {{action 'showSizeLocationBar'}}>Back</span>          
			  <div class="panel wrapper" id="sizeLocationBar">{{flot-barchart chartId="sizeLocationBar" chartDataArray=this.chartFlotSizenLocation.chartDataArray chartTicksArray=this.chartFlotSizenLocation.chartTicksArray chartXLabel="Size (in GB)" chartYLabel="Location" chartTitle="Size Vs. Location (top 10)" chartTitleId="fileNSizeTitle" }}</div>
			  <div class="panel wrapper" id="sizeLocationDrillDownBar"></div> 
			  {{/if}}
					</div>
			  <div class="col-md-6 flotBarChartsRight" style="width:50%">
			  <div id="fileLastAccessedTitle"></div>
			<span id="fileLastAccessedBackButton" {{action 'showfileLastAccessedBar'}}>Back</span>
			<div class="panel wrapper" id="fileLastAccessedBar">{{flot-barchart chartId="fileLastAccessedBar" chartDataArray=this.chartFlotFilesNLastAccessed.chartDataArray chartTicksArray=this.chartFlotFilesNLastAccessed.chartTicksArray chartXLabel="No. of Files (in thousands)" chartYLabel="Last Accessed" chartTitle="No. of Files Vs. Last Accessed (top 5)" chartTitleId="fileLastAccessedTitle"}}</div>
			<div class="panel wrapper" id="fileLastAccessedDrillDownBar"></div> 
			</div>
			<div class="selector">
			  <select class="selectpicker" data-style="btn-primary" on="change" {{action "switchGraph" value}}>
				<option value="filesLocation">No. of Files Vs. Location</option>
				<option value="sizeLocation">Size Vs. Location</option>
				</select>
			   </div>
				  </div>
				  
			<div class="row chart-pie hidden " style="width:100%">
				  <div class="col-md-6 flotPieChartsLeft " style="width:50%">
					<div class="panel wrapper">{{flot-piechart  chartId="fileOwnerPie" chartData=this.pieFileNumbersVsSystem.fileNumberNSystem chartTitle="No. of Files Vs. Owners (top 10)"}}
					  </div>
					</div>
				  <div class="col-md-6 flotPieChartsRight" style="width:50%">
					<div class="panel wrapper">{{flot-piechart chartId="sizeOwnersPie" chartData=this.pieFileUsageVsSystem.fileUsageNSystem chartTitle="Size Vs. Owners (top 10)"}}
					  </div>
					</div>
				  </div>
				
				  
				  <div class="panel wrapper tagCloud hidden">
			<div class="tagcloudContainer"> {{tag-cloud tagCloudData=this.dataForTagCloud.tagCloud}}</div>
			</div>                         
					</div>
					</div> 
			
				  <!-- / stats -->
				  <!-- service -->
				  <div class="panel hbox hbox-auto-xs no-border hidden">
					<div class="col wrapper">
					  <i class="fa fa-circle-o text-info m-r-sm pull-right"></i>
					  <h4 class="font-thin m-t-none m-b-none text-primary-lt">Managed Services</h4>
					  <span class="m-b block text-sm text-muted">Service report of this year (updated 1 hour ago)</span>
					  <div ui-jq="plot" ui-options="[
						{ data: [[0,53.86252040043473],[1,54.917849723715335],[2,50.84653051570058],[3,46.75459018908441],[4,44.82109579257667],[5,42.51570664579049],[6,45.87483094306663],[7,46.90906571922824],[8,45.132253649644554],[9,47.777073869947344],[10,47.21414804691449],[11,50.745494505390525],[12,50.186720674391836],[13,52.03605338698253],[14,53.93708976684138],[15,51.72236135229468],[16,52.364303884096444],[17,53.2603868143633],[18,57.37015459686518],[19,54.64226162992418],[20,59.05398268951103],[21,63.239773388486356],[22,60.03491676878184],[23,58.434220117051154],[24,57.5243567652069],[25,62.205838221125305],[26,66.50423547253013],[27,71.09460457228124],[28,72.26667924318463],[29,71.40082292025909],[30,69.86807859269902],[31,73.16485547227785],[32,74.0249910322018],[33,70.85069210734218],[34,65.97034347942099],[35,67.45846264762804],[36,68.39387219864875],[37,72.10499957669526],[38,76.50911787059158],[39,73.07825562544167],[40,72.15723023051396],[41,69.99875736888498],[42,68.7139284517616],[43,69.74965735338628],[44,74.56036871531978],[45,71.03923915186897],[46,69.59429673617706],[47,65.38783957250416],[48,70.21939739352092],[49,67.22527583828196],[50,66.36203690664843],[51,71.0678328666836],[52,68.70901969028637],[53,68.03588648559526],[54,67.06397458678111],[55,67.19095007050782],[56,68.12850239453837],[57,70.49546876223758],[58,73.30699999816716],[59,68.65595154697075],[60,69.74726184271276],[61,71.3265251647681],[62,68.50537611171603],[63,68.59778022626415],[64,66.08963205944747],[65,64.44460607599467],[66,65.13993362430483],[67,69.29004869423807],[68,65.38929410977289],[69,69.41099154530093],[70,66.53198172338307],[71,70.56291558314115],[72,68.05137970019132],[73,66.16339572472498],[74,65.19372259499505],[75,66.80557042127475],[76,70.09282181272283],[77,68.95887702936307],[78,69.08087572781369],[79,67.96144095016643],[80,72.08350892411545],[81,74.64094224153087],[82,78.06204908993095],[83,82.47700021369383],[84,86.93014330696315],[85,91.50825344957411],[86,89.66441466007382],[87,89.2607181193307],[88,92.4616656661965],[89,92.6227618008852],[90,96.50095243938267],[91,93.81025514332578],[92,98.48766156239435],[93,97.00709564611316],[94,92.63872246723622],[95,89.1392747615464],[96,93.85313111357391],[97,98.53605230338871],[98,99.49645631248131],[99,100],[100,97.2897672187537],[101,94.51344835339114],[102,93.15203058999032],[103,94.319643904455],[104,90.93526329146698],[105,89.52446081442758],[106,89.9216101039201],[107,85.91895534656942],[108,86.35079654632136],[109,87.34392588492483],[110,84.7147385054268],[111,82.24770623724908],[112,82.66831988235936],[113,77.75989111280069],[114,77.21447007032111],[115,79.2873692791909],[116,75.96144497860223],[117,72.69839490763843],[118,76.68439211323857],[119,81.5353427734226],[120,84.93173284921795],[121,88.29142712289467],[122,92.06843013875186],[123,88.87930826749653],[124,84.35311128152534],[125,87.33877836726606],[126,92.14579252526164],[127,92.25051024463028],[128,87.71654565818608],[129,89.42034950712696],[130,93.02158634644002],[131,90.10818666545674],[132,93.88007599394768],[133,96.92996718920767],[134,97.89907721336931],[135,98.2464130804874],[136,95.94162075547501],[137,91.08965563587844],[138,91.43262518802658],[139,86.64584471844137],[140,88.3048417698592],[141,92.09352639270946],[142,93.12443108996376],[143,92.91445990558714],[144,95.19159974064678],[145,95.41059489361942],[146,98.56189084704965],[147,100],[148,95.04313779296353],[149,98.87973809847608]], lines: { show: true, lineWidth: 1, fill:true, fillColor: { colors: [{opacity: 0.2}, {opacity: 0.8}] } } }
						],
						{
						colors: ['#e8eff0'],
						series: { shadowSize: 3 },
						xaxis:{ show:false },
						yaxis:{ font: { color: '#a1a7ac' } },
						grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#dce5ec' },
						tooltip: true,
						tooltipOpts: { content: '%s of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
						}" style="height: 240px; padding: 0px; position: relative;">
						<canvas class="flot-base" width="600" height="480" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 300px; height: 240px;"></canvas><div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"><div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"><div style="position: absolute; top: 226px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 11px; text-align: right;">0</div><div style="position: absolute; top: 189px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 5px; text-align: right;">20</div><div style="position: absolute; top: 151px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 5px; text-align: right;">40</div><div style="position: absolute; top: 114px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 5px; text-align: right;">60</div><div style="position: absolute; top: 77px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 5px; text-align: right;">80</div><div style="position: absolute; top: 39px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 0px; text-align: right;">100</div><div style="position: absolute; top: 2px; font-style: normal; font-variant: normal; font-weight: 400; font-size: 11px; line-height: 12.65px; font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(161, 167, 172); left: 0px; text-align: right;">120</div></div></div><canvas class="flot-overlay" width="600" height="480" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 300px; height: 240px;"></canvas></div>
					  </div>
					  <div class="col wrapper-lg w-lg bg-light dk r-r">
						<h4 class="font-thin m-t-none m-b">Reports</h4>
						<div class="">
						  <div class="">
							<span class="pull-right text-primary">60%</span>
							<span>Consulting</span>
						  </div>
						  <div class="progress-xs m-t-sm bg-white progress ng-isolate-scope" value="60" animate="true" type="primary">
							<div class="progress-bar progress-bar-primary" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="60%" ng-transclude="" style="width: 60%;"></div>
						  </div>
						  <div class="">
							<span class="pull-right text-info">35%</span>
							<span>Online tutorials</span>
						  </div>
						  <div class="progress-xs m-t-sm bg-white progress ng-isolate-scope" value="35" animate="true" type="info">
							<div class="progress-bar progress-bar-info" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="35%" ng-transclude="" style="width: 35%;"></div>
						  </div>
						  <div class="">
							<span class="pull-right text-warning">25%</span>
							<span>EDU management</span>
						  </div>
						  <div class="progress-xs m-t-sm bg-white progress ng-isolate-scope" value="25" animate="true" type="warning">
							<div class="progress-bar progress-bar-warning" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent + '%'}" aria-valuetext="25%" ng-transclude="" style="width: 25%;"></div>
						  </div>
						</div>
						<p class="text-muted">Dales nisi nec adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis</p>
					  </div>
					</div>
					<!-- / service -->
					<!-- tasks -->
					<div class="panel wrapper hidden">
					  <div class="row">
						<div class="col-md-6 b-r b-light no-border-xs">
						  <a href="" class="text-muted pull-right text-lg"><i class="icon-arrow-right"></i></a>
						  <h4 class="font-thin m-t-none m-b-md text-muted">My Tasks</h4>
						  <div class=" m-b">
							<div class="m-b">
							  <span class="label text-base bg-warning pos-rlt m-r"><i class="arrow right arrow-warning"></i> 19:30</span>
							  <a href="">Feed cat</a>
							</div>
							<div class="m-b">
							  <span class="label text-base bg-info pos-rlt m-r"><i class="arrow right arrow-info"></i> 12:30</span>
							  <a href="">Fishing Time</a>
							</div>
							<div class="m-b">
							  <span class="label text-base bg-primary pos-rlt m-r"><i class="arrow right arrow-primary"></i> 10:30</span>
							  <a href="">Kick-off meeting</a>
							</div>
							<div class="m-b">
							  <span class="label text-base bg-light pos-rlt m-r"><i class="arrow right arrow-light"></i> 07:30</span>
							  <a href="">Morning running</a>
							</div>
						  </div>
						</div>
						<div class="col-md-6">
						  <div class="row row-sm">
							<div class="col-xs-6 text-center">
							  <div ui-jq="easyPieChart" ui-options="{
								percent: 75,
								lineWidth: 4,
								trackColor: '#e8eff0',
								barColor: '#7266ba',
								scaleColor: false,
								size: 115,
								rotate: 90,
								lineCap: 'butt'
								}" class="inline m-t easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
								<div>
								  <span class="text-primary h4">75%</span>
								</div>
							  <canvas width="230" height="230" style="width: 115px; height: 115px;"></canvas></div>
							  <div class="text-muted font-bold text-xs m-t m-b">Work Done</div>
							</div>
							<div class="col-xs-6 text-center">
							  <div ui-jq="easyPieChart" ui-options="{
								percent: 50,
								lineWidth: 4,
								trackColor: '#e8eff0',
								barColor: '#23b7e5',
								scaleColor: false,
								size: 115,
								rotate: 180,
								lineCap: 'butt'
								}" class="inline m-t easyPieChart" style="width: 115px; height: 115px; line-height: 115px;">
								<div>
								  <span class="text-info h4">50%</span>
								</div>
							  <canvas width="230" height="230" style="width: 115px; height: 115px;"></canvas></div>
							  <div class="text-muted font-bold text-xs m-t m-b">Started</div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
					<!-- / tasks -->
					<!-- tasks -->
					<div class="row hidden">
					  <div class="col-md-6">
						<div class="panel no-border">
						  <div class="panel-heading wrapper b-b b-light">
							<span class="text-xs text-muted pull-right">
							<i class="fa fa-circle text-primary m-r-xs"></i> 12
							<i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
							<i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
							</span>
							<h4 class="font-thin m-t-none m-b-none text-muted">Top Searches</h4>
						  </div>
						  <ul class="list-group list-group-lg m-b-none">
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a1.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
							  <a href="">Damon Parker</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a2.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-info inline m-t-sm">Member</span>
							  <a href="">Joe Waston</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a3.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Jannie Dvis</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a4.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Emma Welson</a>
							</li>
						  </ul>
						  <div class="panel-footer">
							<span class="pull-right badge badge-bg m-t-xs">32</span>
							<button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6">
						<div class="panel no-border">
						  <div class="panel-heading wrapper b-b b-light">
							<span class="text-xs text-muted pull-right">
							<i class="fa fa-circle text-primary m-r-xs"></i> 12
							<i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
							<i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
							</span>
							<h4 class="font-thin m-t-none m-b-none text-muted">Top Users</h4>
						  </div>
						  <ul class="list-group list-group-lg m-b-none">
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a1.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
							  <a href="">Damon Parker</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a2.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-info inline m-t-sm">Member</span>
							  <a href="">Joe Waston</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a3.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Jannie Dvis</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a4.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Emma Welson</a>
							</li>
						  </ul>
						  <div class="panel-footer">
							<span class="pull-right badge badge-bg m-t-xs">32</span>
							<button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 hidden">
						<div class="list-group list-group-lg list-group-sp">
						  <a herf="" class="list-group-item clearfix">
							<span class="pull-left thumb-sm avatar m-r">
							<img src="img/a4.jpg" alt="...">
							<i class="on b-white right"></i>
							</span>
							<span class="clear">
							<span>Chris Fox</span>
							<small class="text-muted clear text-ellipsis">What's up, buddy</small>
							</span>
						  </a>
						  <a herf="" class="list-group-item clearfix">
							<span class="pull-left thumb-sm avatar m-r">
							<img src="img/a5.jpg" alt="...">
							<i class="on b-white right"></i>
							</span>
							<span class="clear">
							<span>Amanda Conlan</span>
							<small class="text-muted clear text-ellipsis">Come online and we need talk about the plans that we have discussed</small>
							</span>
						  </a>
						  <a herf="" class="list-group-item clearfix">
							<span class="pull-left thumb-sm avatar m-r">
							<img src="img/a6.jpg" alt="...">
							<i class="busy b-white right"></i>
							</span>
							<span class="clear">
							<span>Dan Doorack</span>
							<small class="text-muted clear text-ellipsis">Hey, Some good news</small>
							</span>
						  </a>
						  <a herf="" class="list-group-item clearfix">
							<span class="pull-left thumb-sm avatar m-r">
							<img src="img/a7.jpg" alt="...">
							<i class="busy b-white right"></i>
							</span>
							<span class="clear">
							<span>Lauren Taylor</span>
							<small class="text-muted clear text-ellipsis">Nice to talk with you.</small>
							</span>
						  </a>
						  <a herf="" class="list-group-item clearfix">
							<span class="pull-left thumb-sm avatar m-r">
							<img src="img/a8.jpg" alt="...">
							<i class="away b-white right"></i>
							</span>
							<span class="clear">
							<span>Mike Jackson</span>
							<small class="text-muted clear text-ellipsis">This is nice</small>
							</span>
						  </a>
						</div>
					  </div>
					</div>
					<!-- / tasks -->
					<div class="row hidden">
					  <div class="col-md-12">
						<div class="panel no-border">
						  <div class="panel-heading wrapper b-b b-light">
							<span class="text-xs text-muted pull-right">
							<i class="fa fa-circle text-primary m-r-xs"></i> 12
							<i class="fa fa-circle text-info m-r-xs m-l-sm"></i> 30
							<i class="fa fa-circle text-warning m-r-xs m-l-sm"></i> 98
							</span>
							<h4 class="font-thin m-t-none m-b-none text-muted">Recommended For You</h4>
						  </div>
						  <ul class="list-group list-group-lg m-b-none">
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a1.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-primary inline m-t-sm">Admin</span>
							  <a href="">Damon Parker</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a2.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-info inline m-t-sm">Member</span>
							  <a href="">Joe Waston</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a3.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Jannie Dvis</a>
							</li>
							<li class="list-group-item">
							  <a href="" class="thumb-sm m-r">
								<img src="img/a4.jpg" class="r r-2x">
							  </a>
							  <span class="pull-right label bg-warning inline m-t-sm">Editor</span>
							  <a href="">Emma Welson</a>
							</li>
						  </ul>
						  <div class="panel-footer">
							<span class="pull-right badge badge-bg m-t-xs">32</span>
							<button class="btn btn-primary btn-addon btn-sm"><i class="fa fa-plus"></i>Add Teammate</button>
						  </div>
						</div>
					  </div>
					 </div> 


				  </div>
				</div>
				<!-- / main -->
				<!-- right col -->
				<div class="col w-md bg-white-only b-l bg-auto no-border-xs hidden">
				  <div class="nav-tabs-alt ng-isolate-scope" justified="true">
					<ul class="nav nav-tabs nav-justified" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
					  <li ng-class="{active: active, disabled: disabled}" class="ng-isolate-scope active">
						<a ng-click="select()" tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
						  <i class="glyphicon glyphicon-user text-md text-muted wrapper-sm"></i>
						</tab-heading></a>
					  </li>
					  <li ng-class="{active: active, disabled: disabled}" class="ng-isolate-scope">
						<a ng-click="select()" tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
						  <i class="glyphicon glyphicon-comment text-md text-muted wrapper-sm"></i>
						</tab-heading></a>
					  </li>
					  <li ng-class="{active: active, disabled: disabled}" class="ng-isolate-scope">
						<a ng-click="select()" tab-heading-transclude="" class="ng-binding"><tab-heading class="ng-scope">
						  <i class="glyphicon glyphicon-transfer text-md text-muted wrapper-sm"></i>
						</tab-heading></a>
					  </li>
					</ul>
					<div class="tab-content">
					  <!-- ngRepeat: tab in tabs --><div class="tab-pane ng-scope active" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
					  
					  
					  <div class="wrapper-md ng-scope ">
						<div class="m-b-sm text-md">Who to follow</div>
						<ul class="list-group no-bg no-borders pull-in">
						  <li class="list-group-item">
							<a herf="" class="pull-left thumb-sm avatar m-r">
							  <img src="img/a4.jpg" alt="..." class="img-circle">
							  <i class="on b-white bottom"></i>
							</a>
							<div class="clear">
							  <div><a href="">Chris Fox</a></div>
							  <small class="text-muted">Designer, Blogger</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<a herf="" class="pull-left thumb-sm avatar m-r">
							  <img src="img/a5.jpg" alt="..." class="img-circle">
							  <i class="on b-white bottom"></i>
							</a>
							<div class="clear">
							  <div><a href="">Mogen Polish</a></div>
							  <small class="text-muted">Writter, Mag Editor</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<a herf="" class="pull-left thumb-sm avatar m-r">
							  <img src="img/a6.jpg" alt="..." class="img-circle">
							  <i class="busy b-white bottom"></i>
							</a>
							<div class="clear">
							  <div><a href="">Joge Lucky</a></div>
							  <small class="text-muted">Art director, Movie Cut</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<a herf="" class="pull-left thumb-sm avatar m-r">
							  <img src="img/a7.jpg" alt="..." class="img-circle">
							  <i class="away b-white bottom"></i>
							</a>
							<div class="clear">
							  <div><a href="">Folisise Chosielie</a></div>
							  <small class="text-muted">Musician, Player</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<a herf="" class="pull-left thumb-sm avatar m-r">
							  <img src="img/a8.jpg" alt="..." class="img-circle">
							  <i class="away b-white bottom"></i>
							</a>
							<div class="clear">
							  <div><a href="">Aron Gonzalez</a></div>
							  <small class="text-muted">Designer</small>
							</div>
						  </li>
						</ul>
						<div class="text-center">
						  <a href="" class="btn btn-sm btn-primary padder-md m-b">More Connections</a>
						</div>
					  </div>
					  </div><!-- end ngRepeat: tab in tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
					  
					  
					  <div class="wrapper-md ng-scope">
						<div class="m-b-sm text-md">Chat</div>
						<ul class="list-group no-borders pull-in auto">
						  <li class="list-group-item">
							<span class="pull-left thumb-sm m-r"><img src="img/a1.jpg" alt="..." class="img-circle"></span>
							<a href="" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
							<div class="clear">
							  <div><a href="">Chris Fox</a></div>
							  <small class="text-muted">about 2 minutes ago</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<span class="pull-left thumb-sm m-r"><img src="img/a2.jpg" alt="..." class="img-circle"></span>
							<a href="" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
							<div class="clear">
							  <div><a href="">Amanda Conlan</a></div>
							  <small class="text-muted">about 2 hours ago</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<span class="pull-left thumb-sm m-r"><img src="img/a3.jpg" alt="..." class="img-circle"></span>
							<a href="" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
							<div class="clear">
							  <div><a href="">Dan Doorack</a></div>
							  <small class="text-muted">3 days ago</small>
							</div>
						  </li>
						  <li class="list-group-item">
							<span class="pull-left thumb-sm m-r"><img src="img/a4.jpg" alt="..." class="img-circle"></span>
							<a href="" class="text-muted" ui-toggle-class="show" target=".app-aside-right"><i class="fa fa-comment-o pull-right m-t-sm text-sm"></i></a>
							<div class="clear">
							  <div><a href="">Lauren Taylor</a></div>
							  <small class="text-muted">about 2 minutes ago</small>
							</div>
						  </li>
						</ul>
					  </div>
					  </div><!-- end ngRepeat: tab in tabs --><div class="tab-pane ng-scope" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
					  
					  
					  <div class="wrapper-md ng-scope">
						<div class="m-b-sm text-md">Transaction</div>
						<ul class="list-group list-group-sm list-group-sp list-group-alt auto m-t">
						  <li class="list-group-item">
							<span class="text-muted">Transfer to Jacob at 3:00 pm</span>
							<span class="block text-md text-info">B 15,000.00</span>
						  </li>
						  <li class="list-group-item">
							<span class="text-muted">Got from Mike at 1:00 pm</span>
							<span class="block text-md text-primary">B 23,000.00</span>
						  </li>
						  <li class="list-group-item">
							<span class="text-muted">Sponsored ORG at 9:00 am</span>
							<span class="block text-md text-warning">B 3,000.00</span>
						  </li>
						  <li class="list-group-item">
							<span class="text-muted">Send to Jacob at 8:00 am</span>
							<span class="block text-md">B 11,000.00</span>
						  </li>
						</ul>
					  </div>
					  </div><!-- end ngRepeat: tab in tabs -->
					</div>
				  </div>
				  <div class="padder-md">
					<!-- streamline -->
					<div class="m-b text-md">Recent Activity</div>
					<div class="streamline b-l m-b">
					  <div class="sl-item">
						<div class="m-l">
						  <div class="text-muted">5 minutes ago</div>
						  <p><a href="" class="text-info">Jessi</a> commented your post.</p>
						</div>
					  </div>
					  <div class="sl-item">
						<div class="m-l">
						  <div class="text-muted">11:30</div>
						  <p>Join comference</p>
						</div>
					  </div>
					  <div class="sl-item b-success b-l">
						<div class="m-l">
						  <div class="text-muted">10:30</div>
						  <p>Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
						</div>
					  </div>
					  <div class="bg-info wrapper-sm m-l-n m-r-n m-b r r-2x">
						Create tasks for the team
					  </div>
					  <div class="sl-item b-primary b-l">
						<div class="m-l">
						  <div class="text-muted">Wed, 25 Mar</div>
						  <p>Finished task <a href="" class="text-info">Testing</a>.</p>
						</div>
					  </div>
					  <div class="sl-item b-warning b-l">
						<div class="m-l">
						  <div class="text-muted">Thu, 10 Mar</div>
						  <p>Trip to the moon</p>
						</div>
					  </div>
					  <div class="sl-item b-info b-l">
						<div class="m-l">
						  <div class="text-muted">Sat, 5 Mar</div>
						  <p>Prepare for presentation</p>
						</div>
					  </div>
					  <div class="sl-item b-l">
						<div class="m-l">
						  <div class="text-muted">Sun, 11 Feb</div>
						  <p><a href="" class="text-info">Jessi</a> assign you a task <a href="" class="text-info">Mockup Design</a>.</p>
						</div>
					  </div>
					  <div class="sl-item b-l">
						<div class="m-l">
						  <div class="text-muted">Thu, 17 Jan</div>
						  <p>Follow up to close deal</p>
						</div>
					  </div>
					</div>
					<!-- / streamline -->
				  </div>
				</div>
				<!-- / right col -->
				
				
			  </div></div>
			  