@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-3dm:before {
	content: "\e000";
}
.flaticon-3ds:before {
	content: "\e001";
}
.flaticon-3g2:before {
	content: "\e002";
}
.flaticon-3gp:before {
	content: "\e003";
}
.flaticon-7z1:before {
	content: "\e004";
}
.flaticon-aac:before {
	content: "\e005";
	color : #E55C3D;
}
.flaticon-aif:before {
	content: "\e006";
}
.flaticon-ai:before {
	content: "\e007";
	color : #EA8611;
}
.flaticon-apk:before {
	content: "\e008";
	color : #A5C63B;
}
.flaticon-app:before {
	content: "\e009";
}
.flaticon-asf:before {
	content: "\e00a";
}
.flaticon-asp:before {
	content: "\e00b";
	color : #2872B1;
}
.flaticon-aspx:before {
	content: "\e00c";
	color : #2872B1;
}
.flaticon-asx:before {
	content: "\e00d";
}
.flaticon-avi:before {
	content: "\e00e";
	color : #ff6633;
}
.flaticon-bak:before {
	content: "\e00f";
	color : #c69c6d;
}
.flaticon-bat:before {
	content: "\e010";
}
.flaticon-bin:before {
	content: "\e011";
}
.flaticon-bmp:before {
	content: "\e012";
	color : #1d75bb;
}
.flaticon-cab:before {
	content: "\e013";
}
.flaticon-cad:before {
	content: "\e014";
	color : #F09133;
}
.flaticon-cdr:before {
	content: "\e015";
}
.flaticon-cer:before {
	content: "\e016";
	color : #FFD547;
}
.flaticon-cfg:before {
	content: "\e017";
}
.flaticon-cfm:before {
	content: "\e018";
}
.flaticon-cgi:before {
	content: "\e019";
}
.flaticon-class:before {
	content: "\e01a";
}
.flaticon-com:before {
	content: "\e01b";
}
.flaticon-cp:before {
	content: "\e01c";
}
.flaticon-cpp:before {
	content: "\e01d";
}
.flaticon-crx:before {
	content: "\e01e";
}
.flaticon-csr:before {
	content: "\e01f";
}
.flaticon-css:before {
	content: "\e020";
	color : #3C99DB;
}
.flaticon-csv:before {
	content: "\e021";
	color : #4d7f1d;
}
.flaticon-cue:before {
	content: "\e022";
}
.flaticon-cur:before {
	content: "\e023";
}
.flaticon-dat:before {
	content: "\e024";
}
.flaticon-db:before {
	content: "\e025";
	color : #8690A9;
}
.flaticon-dbf:before {
	content: "\e026";
}
.flaticon-dds:before {
	content: "\e027";
}
.flaticon-dem:before {
	content: "\e028";
}
.flaticon-dll:before {
	content: "\e029";
	color : #1E466A;
}
.flaticon-dmg:before {
	content: "\e02a";
}
.flaticon-dmp:before {
	content: "\e02b";
}
.flaticon-doc:before {
	content: "\e02c";
	color: #2a5699;
}
.flaticon-docx:before {
	content: "\e02d";
	color: #2a5699;
}
.flaticon-drv:before {
	content: "\e02e";
}
.flaticon-dtd:before {
	content: "\e02f";
}
.flaticon-dwg:before {
	content: "\e030";
	color : #F5D010;
}
.flaticon-dxf:before {
	content: "\e031";
}
.flaticon-elf:before {
	content: "\e032";
}
.flaticon-eps:before {
	content: "\e033";
	color : #ad1a7e;
}
.flaticon-eps:before {
	content: "\e034";
	color : #ad1a7e;
}
.flaticon-exe:before {
	content: "\e035";
	color : #df4792;
}
.flaticon-fla:before {
	content: "\e036";
	color : #AC1F2F;
}
.flaticon-flash:before {
	content: "\e037";
	color : #B6090F;
}
.flaticon-flv:before {
	content: "\e038";
	color : #B6090F;
}
.flaticon-fnt:before {
	content: "\e039";
}
.flaticon-fon:before {
	content: "\e03a";
}
.flaticon-gam:before {
	content: "\e03b";
}
.flaticon-gbr:before {
	content: "\e03c";
}
.flaticon-ged:before {
	content: "\e03d";
}
.flaticon-gif:before {
	content: "\e03e";
	color : #754c24;
}
.flaticon-gpx:before {
	content: "\e03f";
}
.flaticon-gzip:before {
	content: "\e040";
	color : #E6B756;
}
.flaticon-gz:before {
	content: "\e041";
}
.flaticon-hqz:before {
	content: "\e042";
}
.flaticon-html:before {
	content: "\e043";
	color : #5acbf5;
}
.flaticon-htm:before {
	content: "\e043";
}
.flaticon-ibooks:before {
	content: "\e044";
}
.flaticon-icns:before {
	content: "\e045";
}
.flaticon-ico:before {
	content: "\e046";
	color : #d74278;
}
.flaticon-ics:before {
	content: "\e047";
}
.flaticon-iff:before {
	content: "\e048";
}
.flaticon-indd:before {
	content: "\e049";
	color : #952C64;
}
.flaticon-iso:before {
	content: "\e04a";
	color : #1E466A;
}
.flaticon-iso:before {
	content: "\e04b";
}
.flaticon-jar:before {
	content: "\e04c";
	color : #88560F;
}
.flaticon-jpg:before {
	content: "\e04d";
	color : #662d91;
}
.flaticon-js:before {
	content: "\e04e";
	color : #29abe2;
}
.flaticon-jsp:before {
	content: "\e04f";
	color : #667A19;
}
.flaticon-key:before {
	content: "\e050";
}
.flaticon-kml:before {
	content: "\e051";
}
.flaticon-kmz:before {
	content: "\e052";
}
.flaticon-lnk:before {
	content: "\e053";
	color : #77b82a;
}
.flaticon-log:before {
	content: "\e054";
	color : #417D0B;
}
.flaticon-lua:before {
	content: "\e055";
}
.flaticon-m3u:before {
	content: "\e056";
}
.flaticon-m4a:before {
	content: "\e057";
}
.flaticon-m4v:before {
	content: "\e058";
}
.flaticon-macho:before {
	content: "\e059";
}
.flaticon-max:before {
	content: "\e05a";
}
.flaticon-mdb:before {
	content: "\e05b";
}
.flaticon-mdf:before {
	content: "\e05c";
}
.flaticon-mid:before {
	content: "\e05d";
}
.flaticon-mim:before {
	content: "\e05e";
}
.flaticon-mov:before {
	content: "\e05f";
	color : #00ABEE;
}
.flaticon-mp3:before {
	content: "\e060";
	color : #02c3ef;
}
.flaticon-mp4:before {
	content: "\e061";
	color : #8fb5cf;
}
.flaticon-mpa:before {
	content: "\e062";
}
.flaticon-mpg:before {
	content: "\e063";
}
.flaticon-msg:before {
	content: "\e064";
	color : #3fba0c;
}
.flaticon-msi:before {
	content: "\e065";
}
.flaticon-nes:before {
	content: "\e066";
}
.flaticon-object:before {
	content: "\e067";
}
.flaticon-odb:before {
	content: "\e068";
}
.flaticon-odc:before {
	content: "\e069";
}
.flaticon-odf:before {
	content: "\e06a";
}
.flaticon-odg:before {
	content: "\e06b";
}
.flaticon-odi:before {
	content: "\e06c";
}
.flaticon-odp:before {
	content: "\e06d";
}
.flaticon-ods:before {
	content: "\e06e";
}
.flaticon-odt:before {
	content: "\e06f";
}
.flaticon-odt:before {
	content: "\e070";
}
.flaticon-odx:before {
	content: "\e071";
}
.flaticon-ogg:before {
	content: "\e072";
}
.flaticon-otf1:before {
	content: "\e073";
}
.flaticon-otf:before {
	content: "\e074";
	color : #848484;
}
.flaticon-pages:before {
	content: "\e075";
}
.flaticon-pct:before {
	content: "\e076";
}
.flaticon-pdb:before {
	content: "\e077";
}
.flaticon-pdf:before {
	content: "\e078";
	color: #d50a0a;
}
.flaticon-pif:before {
	content: "\e079";
}
.flaticon-pkg:before {
	content: "\e07a";
}
.flaticon-pl:before {
	content: "\e07b";
}
.flaticon-png:before {
	content: "\e07c";
	color : #f7931e;
}
.flaticon-pps:before {
	content: "\e07d";
	color : #F96F32;
}
.flaticon-ppt:before {
	content: "\e07e";
	color : #2a5699;
}
.flaticon-pptx:before {
	content: "\e07f";
	color : #2a5699;
}
.flaticon-psd:before {
	content: "\e080";
	color : #2f2679;
}
.flaticon-ps:before {
	content: "\e081";
}
.flaticon-pub:before {
	content: "\e082";
	color : #53CEC1;
}
.flaticon-python:before {
	content: "\e083";
}
.flaticon-rar:before {
	content: "\e084";
	color : #0E3966;
}
.flaticon-ra:before {
	content: "\e085";
}
.flaticon-raw:before {
	content: "\e086";
	color : #2F7580;
}
.flaticon-rm:before {
	content: "\e087";
}
.flaticon-rom:before {
	content: "\e088";
}
.flaticon-rpm:before {
	content: "\e089";
}
.flaticon-rss:before {
	content: "\e08a";
	color : #FF8B2E;
}
.flaticon-rtf:before {
	content: "\e08b";
	color : #3367CD;
}
.flaticon-sav:before {
	content: "\e08c";
}
.flaticon-sdf:before {
	content: "\e08d";
}
.flaticon-sitx:before {
	content: "\e08e";
}
.flaticon-sql:before {
	content: "\e08f";
	color : #8690A9;
}
.flaticon-sql:before {
	content: "\e090";
}
.flaticon-srt:before {
	content: "\e091";
}
.flaticon-svg:before {
	content: "\e092";
	color : #CC6200;
}
.flaticon-swf:before {
	content: "\e093";
	color : #c40c1d;
}
.flaticon-sys:before {
	content: "\e094";
}
.flaticon-tar:before {
	content: "\e095";
	color : #bda056;
}
.flaticon-tex:before {
	content: "\e096";
}
.flaticon-tga:before {
	content: "\e097";
}
.flaticon-thm:before {
	content: "\e098";
	color : #ecac03;
}
.flaticon-tiff:before {
	content: "\e099";
	color : #e55453;
}
.flaticon-tmp:before {
	content: "\e09a";
	color : #164a7a;
}
.flaticon-torrent:before {
	content: "\e09b";
}
.flaticon-ttf:before {
	content: "\e09c";
}
.flaticon-txt:before {
	content: "\e09d";
	color : #79BDD0;
}
.flaticon-uue:before {
	content: "\e09e";
}
.flaticon-vb:before {
	content: "\e09f";
}
.flaticon-vcd:before {
	content: "\e0a0";
}
.flaticon-vcf:before {
	content: "\e0a1";
}
.flaticon-vob:before {
	content: "\e0a2";
	color : #F15D37;
}
.flaticon-wav:before {
	content: "\e0a3";
	color : #66b6e2;
}
.flaticon-wma:before {
	content: "\e0a4";
	color : #0E80CC;
}
.flaticon-wmv:before {
	content: "\e0a5";
	color : #165a95;
}
.flaticon-wpd:before {
	content: "\e0a6";
}
.flaticon-wps:before {
	content: "\e0a7";
}
.flaticon-wsf:before {
	content: "\e0a8";
}
.flaticon-xhtm:before {
	content: "\e0a9";
	color : #5acbf5;
}
.flaticon-xlr:before {
	content: "\e0aa";
}
.flaticon-xls:before {
	content: "\e0ab";
	color : #4d7f1d;
}
.flaticon-xlsx:before {
	content: "\e0ac";
	color : #4d7f1d;
}
.flaticon-xml:before {
	content: "\e0ad";
	color : #33cc99;
}
.flaticon-yuv:before {
	content: "\e0ae";
}
.flaticon-zip:before {
	content: "\e0af";
	color : #22B0AC;
}
